		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class='panel-heading'>Registro de acta de decision</div>
					<div class="panel-body">
						<div class="col-md-6">
							<form role="form" name="formulario" action="" method="POST" enctype="multipart/form-data">	
							<div class="form-group" id="vestado">
									<label>Estado</label>
									<select class="form-control" name="estado" id="estado" onchange="changeform()">
										<option value="">- - -</option>
										<option value="3">Ganada</option>
										<option value="12">Perdida</option>
										<option value="13">Desierto</option>
										
										
									</select>
								</div>
								<div class="form-group" id="vcalificacion">
									<label>Calificaci&oacute;n</label>
									<select class="form-control" name="calificacion" id="calificacion">
										<option value="">- - -</option>
										<option value="1">Mejor Oferta</option>
										<option value="2">Segundo Lugar</option>
										<option value="3">Tercer Lugar</option>
										<option value="4">Cuarto Lugar</option>
										<option value="5">No califica</option>
										<option value="6">Perdida por precio</option>		
										
									</select>
								</div>
								<div class="form-group" id="vacta">
									<label>Fecha de emisi&oacute;n del acta</label>
									<input  type="text" class="form-control docs-date" placeholder="dd/mm/aaaa" readonly style="cursor:pointer;" name="fecha_acta" id="acta">
								</div>
								<div class="form-group" id="vganador">
									<label>Ganador</label>
									<input  type="text" class="form-control" placeholder="Ganador" readonly style="cursor:pointer;" value="Obrigado" readonly name="ganador" id="ganador">
								</div>
								<div class="form-group" id="vacta">
									<label>Acta digitalizada</label>
									<input  type="file" class="" name="acta" id="actad">
									<input  type="hidden" class="" name="id" value="<?php echo $_GET['id'];?>">									
									 <p class="help-block">Solo archivos PDF.</p>
								</div>
								<div class="form-group" >	
									<input class="form-control" type="hidden" name="id_status" value="1" id="status">
									<button type="button" onclick="validar()" class="btn btn-primary">Actualizar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		
	</div><!--/.main-->

	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/common.js"></script>
	<script src="js/datepicker.js"></script>
	<script src="js/datepicker.es-ES.js"></script>
	<script src="js/main.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>  
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
	<script>
		function changeform(){
			if(document.getElementById('estado').value=='12'){
				document.getElementById('ganador').readOnly=false;
				document.getElementById('ganador').value='';	
			}else if(document.getElementById('estado').value=='13'){
				document.getElementById('ganador').readOnly=true;
				document.getElementById('ganador').value='Desierto';	
			}else{
				document.getElementById('ganador').readOnly=true;
				document.getElementById('ganador').value='Obrigado';	
			}
		}

		function validar() {
			if(document.getElementById('estado').value!='13'){
			var estado=document.getElementById('estado').value;			
			var calificacion=document.getElementById('calificacion').value;
			var ganador=document.getElementById('ganador').value;
			var acta=document.getElementById('acta').value;			
			var actad=document.getElementById('actad').value;	

			var error=0;

			document.getElementById("vestado").className -= " has-error";
			document.getElementById("vcalificacion").className -= " has-error";
			document.getElementById("vacta").className -= " has-error";
			document.getElementById("vganador").className -= " has-error";

				extensiones_permitidas = ".pdf";
			   if (!actad) {
					alert("Debes adjuntar la copia escaneada del acta.");
			       error++;
			   }else{
			      //recupero la extensión de este nombre de archivo
			      extension = (actad.substring(actad.lastIndexOf("."))).toLowerCase();
			      //alert (extension);
			      //compruebo si la extensión está entre las permitidas
			      permitida = false;
			       if (extensiones_permitidas == extension) {
			         permitida = true;
			     	}
			         
			      if (!permitida) {
					alert("Archivo adjunto no es pdf.");			         
			       		error++;
			       }else{

			       }
			   }



			if(estado.length==0){
				alert("El campo estado no puede ir vacio.");
				document.getElementById("vestado").className += " has-error";
				error++;
				
			}

			if(calificacion.length==0){
				alert("El campo calificacion no puede ir vacio.");
				document.getElementById("vcalificacion").className += " has-error";
				error++;
				
			}

			if(document.getElementById('estado').value=='12'){
				if(calificacion.length==0){
					alert("El campo Ganador no puede ir vacio.");
					document.getElementById("vganador").className += " has-error";
					error++;
				}
					
			}

			if(acta.length==0){
				alert("El campo fecha de emision del acta no puede ir vacio.");
				document.getElementById("vacta").className += " has-error";
				error++;				
			}

	

			if(error==0){
				document.formulario.action= "acta-decision.php";
				document.formulario.submit();
			}

			}else{
				document.formulario.action= "acta-decision.php";
				document.formulario.submit();
			}
		}
	

	</script>	