	<?php
		include("libs/conexion.php");
		
		if($privilegios["actualizar_licitacion"]!=1){
			$mensajes_error=1;
			require_once('libs/mensajes_error.php');
		}
		if(!empty($_GET['id'])){
			$query_upd=mysqli_query($conexion, "SELECT * FROM actos WHERE id_acto='".$_GET['id']."'") or die (mysqli_error($conexion));
			$array_udp=mysqli_fetch_array($query_upd);
			$id_status=$array_udp['id_status'];


		}else{
			?>
				<script type="text/javascript">
					alert("debes seleccionar por lo menos un acto para actualizar su estado.");
					window.location="frames.php?p=licitaciones";
				</script>
			<?php
		}
		
	?>	
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="frames.php?p=inicio"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Actualizaci&oacute;n de estado</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Actualizaci&oacute;n de estado</h1>
			</div>
		</div><!--/.row-->
				
		<?php  
		switch ($id_status) {
			case '1':
				include("registro-propuesta.html");
				break;
			case '2':
				include("acta-decision.html");
				break;
			case '3':
				include("acta-adjudicacion.html");
				break;
			case '4':
				include("fianza-cumplimiento.html");
				break;
			case '5':
				include("odc.html");
				break;
			case '7':
				include("informe-recepcion.html");
				break;
			case '8':
				include("multa.html");
				break;
			case '9':
				include("presentacion-cta.html");
				break;
			case '10':
				include("pago.html");
				break;
			
			case '12':
				if ($privilegios['revivir_licitacion']=='1') {
					include("revivir-licitacion-perdida.html");
				}else{
					echo '<script>alert("no tienes privilegios para realizar esa accion."); window.location="frames.php?p=licitaciones"</script>';
				}
				break;
			
		}

		?>
		