	<?php
		include("libs/conexion.php");
		if(!empty($_GET['id'])){
			$query_upd=mysqli_query($conexion, "SELECT * FROM prorrogas WHERE id_prorroga='".$_GET['id']."'") or die (mysqli_error($conexion));
			$array_udp=mysqli_fetch_array($query_upd);
			$id_status=$array_udp['estado'];


		}else{
			?>
				<script type="text/javascript">
					alert("debes seleccionar por lo menos un acto para actualizar su estado.");
					window.location="frames.php?p=licitaciones";
				</script>
			<?php
		}
		
	?>	
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="frames.php?p=inicio"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Actualizaci&oacute;n de estado para prorrogas</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Actualizaci&oacute;n de estado para prorrogas</h1>
			</div>
		</div><!--/.row-->
				
		<?php  
		switch ($id_status) {
			case '1':
				include("recibido-prorroga.html");
				break;
			case '2':
				include("respuesta-prorroga.html");
				break;
		}

		?>
		