<?php 
	if($privilegios["clientes"]!=1){
		echo "<script>alert('No posee privilegios suficientes para usar este modulo.'); window.location='frames.php?inicio';</script>";
	}
	include("libs/instituciones.php"); 
?>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Clientes</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Clientes</h1>
			</div>
		</div><!--/.row-->
				
		<form name="formulario">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Clientes</div>
					<div class="panel-body">
						<table id="tabla-clientes"  data-show-refresh="true" <?php if($privilegios['registrar_cliente']==1){ ?> data-show-agregar="true"  <?php }if($privilegios['actualizar_cliente']==1){  ?>  data-show-editar="true" <?php } ?>  data-select-item-name="id_cliente" data-pagination="true"  data-page-size="10" data-sort-name="name" data-sort-order="asc">
						    <thead>
						    <tr>                          
						        <th data-field="id" data-checkbox="true" >Item ID</th>
						        <th data-field="id" data-sortable="true">#</th>
						        <th data-field="name"  data-sortable="true">Nombre</th>
						        <th data-field="telefono"  data-sortable="true">Telefono</th>
						        <th data-field="direccion"  data-sortable="true">Direccion</th>
						        <th data-field="tipo"  data-sortable="true">Tipo</th>
						        <th data-field="dependencia"  data-sortable="true">Dependencia</th>
						    </tr>
						    </thead>
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
		</form>
		
		
		
	</div><!--/.main-->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
	<script>
		var listado_clientes= <?php echo $listado_clientes;?>;
		$(function () {
		    $('#tabla-clientes').bootstrapTable({
		        data: listado_clientes
		    });
		});

		function registrar(){
			window.location="frames.php?p=registrar&c=cliente"
		}
		function editarregistro(){
			document.formulario.action="frames.php?p=editar-cliente";
			document.formulario.method="POST";
			document.formulario.submit();
		}
	</script>	