<?php
	if(!isset($_POST['id'])){
		?>
		<script>
			alert('Error: debe seleccionar un acto para consultar.');
			window.location="frames.php?p=licitaciones";
		</script>

	<?php }

	$id=$_POST['id'];
	include ('libs/conexion.php');
	include ('libs/renglones.php');
	include ('libs/propuestas.php');
	include ('libs/prorrogas_acto.php');
	
	//query generales del acto
	$query_p=mysqli_query($conexion, "SELECT a.n_acto,a.monto_pro, a.n_req, a.id_inst, a.fecha_publicacion, a.fecha_acto, a.monto_act, a.tipo_acto, a.termino_pago_dias, a.termino_pago_tipo, a.fdp, a.fdc, a.fde, a.ganador, a.calificacion, a.fecha_max_fdc, a.fecha_max_entrega, a.nro_prorrogas, a.id_status, a.vendedor, b.nombre AS calificacion, c.nombre AS estado, d.nombre AS tipo_lp, e.dependencia, e.telefono, e.nombre AS institucion, e.direccion, u.nombre AS vendedor FROM actos a, calificaciones b, estado_licitaciones c, tipo_lp d, instituciones e, renglones_acto f, usuarios u WHERE f.id_acto ='$id' AND a.id_acto='$id' AND c.id_status=a.id_status AND b.id=a.calificacion AND d.id_tlp=a.tipo_acto AND e.id_inst=a.id_inst AND u.id_usuario=a.vendedor")  or die (mysqli_error($conexion));
	$array_p=mysqli_fetch_array($query_p);

	//query propuesta
	$query_prop=mysqli_query($conexion, "SELECT * FROM productos_participacion a, renglones_acto b WHERE a.id_acto='$id' AND b.id_renglon=a.id_renglon") or die (mysqli_error($conexion));
	$nrowprop=mysqli_num_rows($query_prop);
	//query entregas
	$query_ent=mysqli_query($conexion, "SELECT * FROM entregas WHERE id_acto='$id'") or die (mysqli_error($conexion));
	$nrowent=mysqli_num_rows($query_ent);
	$data="[".json_encode( mysqli_fetch_array($query_ent))."]";
	

	//query acta adjudicacion
	$query_adj=mysqli_query($conexion, "SELECT * FROM actas_adjudicacion WHERE id_acto='$id'") or die (mysqli_error($conexion));
	$array_adj=mysqli_fetch_array($query_adj);
	$nrowadj=mysqli_num_rows($query_adj);

	//query acta decision
	$query_des=mysqli_query($conexion, "SELECT * FROM actas_decision WHERE id_acto='$id'") or die (mysqli_error($conexion));
	$array_des=mysqli_fetch_array($query_des);
	$nrowdes=mysqli_num_rows($query_des);

	//query fianza de cumplimiento
	$query_fdc=mysqli_query($conexion, "SELECT * FROM fdc WHERE id_acto='$id'") or die (mysqli_error($conexion));
	$array_fdc=mysqli_fetch_array($query_fdc);
	$nrowfdc=mysqli_num_rows($query_fdc);

	//query afianza de endoso
	$query_fde=mysqli_query($conexion, "SELECT * FROM fde WHERE id_acto='$id'") or die (mysqli_error($conexion));
	$array_fde=mysqli_fetch_array($query_fde);
	$nrowfde=mysqli_num_rows($query_fde);

	//query informe de recepcion
	$query_ir=mysqli_query($conexion, "SELECT * FROM informes_recepcion WHERE id_acto='$id'") or die (mysqli_error($conexion));
	$array_ir=mysqli_fetch_array($query_ir);
	$nrowir=mysqli_num_rows($query_ir);

	//query factura
	$query_fac=mysqli_query($conexion, "SELECT * FROM facturas_actos WHERE id_acto='$id'") or die (mysqli_error($conexion));
	$array_fac=mysqli_fetch_array($query_fac);
	$nrowfac=mysqli_num_rows($query_fac);

	//query multas
	$query_multas=mysqli_query($conexion, "SELECT * FROM multas WHERE id_acto='$id'") or die (mysqli_error($conexion));
	$array_multas=mysqli_fetch_array($query_multas);
	$nrowpmultas=mysqli_num_rows($query_multas);

	//query ODC
	$query_ODC=mysqli_query($conexion, "SELECT * FROM odc_acto WHERE id_acto='$id'") or die (mysqli_error($conexion));
	$array_ODC=mysqli_fetch_array($query_ODC);
	$nrowODC=mysqli_num_rows($query_ODC);

	//query presentacion de cuenta
	$query_PDC=mysqli_query($conexion, "SELECT * FROM presentacion_cuenta WHERE id_acto='$id'") or die (mysqli_error($conexion));
	$array_PDC=mysqli_fetch_array($query_PDC);
	$nrowPDC=mysqli_num_rows($query_PDC);

	//query Pago
	$query_pago=mysqli_query($conexion, "SELECT * FROM pagos a, tipo_pago b WHERE id_acto='$id' AND b.id_tipop=a.tipo") or die (mysqli_error($conexion));
	$array_pago=mysqli_fetch_array($query_pago);
	$nrowpago=mysqli_num_rows($query_pago);

	
	



?>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="frames.php?p=inicio"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Consulta de prorroga</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Consulta de prorroga</h1>
			</div>
		</div><!--/.row-->
					<?php include("libs/actos_prorroga.php"); ?>
	<style type="text/css">
		.slcall{
			display: none;
		}
	</style>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Generales del acto</div>
					<div class="panel-body">
						<div class="panel-heading" style="margin-bottom: 10px;">Datos del acto</div>
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Nro LP:</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_p['n_acto']; ?></p>
								</div>
                                <div class="form-group" id="vdirigido">
                                    <label>Tipo de acto:</label>
                                </div>
                                <div class="form-group" id="vcargo">
                                    <p><?php echo $array_p['tipo_lp']; ?></p>
                                </div>
								<div class="form-group" id="vdirigido">
									<label>Nro de Requisicion:</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_p['n_req']; ?></p>
								</div>
								<div class="form-group" id="vdirigido">
									<label>Fecha de publicacion:</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo date('m-d-Y', strtotime($array_p['fecha_publicacion'])); ?></p>
								</div>	
								<div class="form-group" id="vdirigido">
									<label>Fecha de acto:</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo date('m-d-Y', strtotime($array_p['fecha_acto'])); ?></p>
								</div>
								<div class="form-group" id="vdirigido">
									<label>Fecha maxima para entrega de mercancia:</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_p['fecha_max_entrega']; ?></p>
								</div>					
							</div>
							<div class="col-md-6">
								<div class="form-group" id="vdirigido">
									<label>Estado de la licitaci&oacute;n:</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_p['estado']; ?></p>
								</div>
                                <div class="form-group" id="vdirigido">
                                    <label>Monto del acto:</label>
                                </div>
                                <div class="form-group" id="vcargo">
                                    <p><?php echo $array_p['monto_act']; ?></p>
                                </div>
                                <div class="form-group" id="vdirigido">
                                    <label>Monto de la propuesta:</label>
                                </div>
                                <div class="form-group" id="vcargo">
                                    <p><?php echo $array_p['monto_pro']; ?></p>
                                </div>
								<div class="form-group" id="vdirigido">
									<label>Termino de pago:</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_p['termino_pago_dias']." dias ".$array_p['termino_pago_tipo']; ?></p>
								</div>
								<div class="form-group" id="vdirigido">
									<label>Vendedor:</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_p['vendedor']; ?></p>
								</div>	
							</div>	
							<div class="col-md-6" style="width: 100%;">
								<div class="panel-heading" style="border-top: 1px solid #eee;margin-bottom: 10px;">Renglones</div>								
							</div>

							<table id="tabla-renglones" data-pagination='true' >
								    <thead>
								    <tr>
								        <th data-field="reng" data-align="right" data-sortable="true">#Reng.</th>
								        <th data-field="codigo" data-sortable="true">C&oacute;digo</th>
								        <th data-field="descripcion"  data-sortable="true">Descripci&oacute;n</th>
								        <th data-field="clasificacion"  data-sortable="true">Clasificaci&oacute;n</th>
								        <th data-field="um"  data-sortable="true">Unidad de medida</th>
								        <th data-field="cantidad"  data-sortable="true">Cantidad</th>
								    </tr>
								    </thead>
								</table>
							

						</div>
					</div>
				</div><!-- /.col-->
			</div><!-- /.row -->

		<?php
			if($nrowprop>0){
		?>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Propuesta</div>
					<div class="panel-body">
						

						
						<table  id="tabla-propuestas" data-pagination='true'>
						    <thead>
						    <tr>
						        <th data-field="reng" data-align="right" data-sortable="true">#Reng.</th>
						        <th data-field="codigo" data-sortable="true">C&oacute;digo</th>
						        <th data-field="descripcion" data-sortable="true">Descripcio&oacute;n del producto</th>
						        <th data-field="um" data-sortable="true">Unid. Med.</th>
						        <th data-field="marca" data-sortable="true">Marca</th>
						        <th data-field="cantidad" data-sortable="true">Cant.</th>
						        <th data-field="pu" data-sortable="true">Precio Unit.</th>
                                <th data-field="st" data-sortable="true">Subtotal</th>
                                <th data-field="tx" data-sortable="true">ITBMS</th>
                                <th data-field="pt" data-sortable="true">Precio Total</th>
						    </tr>
						    </thead>
						</table>
							

					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		<?php
			}
			if($nrowdes>0){
		?>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Acta de decisi&oacute;n</div>
					<div class="panel-body">
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Fecha de emision</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo date('m-d-Y', strtotime($array_des['fecha_emision'])); ?></p>
								</div>						
							</div>
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>acta:</label>
								</div>
								<div class="form-group" id="vcargo">
									<div onclick="mostrar_documento('<?php echo $array_des["ubicacion"]?>')" style="cursor:pointer; background-color: #e9ecf2; border-color: #e9ecf2; color: #1b3548; border-radius: 4px; width:66px; height: 66px;"><img src="pdf-icon.png" style="width:64px; height: 64px;"></div>
								</div>		
							</div>
						</div>
					</div>
				</div><!-- /.col-->
			</div><!-- /.row -->
		<?php
			}
			if($nrowadj>0){
		?>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Acta de adjudicacion</div>
					<div class="panel-body">
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Fecha de emision</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo date('m-d-Y', strtotime($array_adj['fecha_emision'])); ?></p>
								</div>						
							</div>
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>acta:</label>
								</div>
								<div class="form-group" id="vcargo">
									<div onclick="mostrar_documento('<?php echo $array_adj["ubicacion"]?>')" style="cursor:pointer; background-color: #e9ecf2; border-color: #e9ecf2; color: #1b3548; border-radius: 4px; width:66px; height: 66px;"><img src="pdf-icon.png" style="width:64px; height: 64px;"></div>
								</div>		
							</div>
						</div>
					</div>
				</div><!-- /.col-->
			</div><!-- /.row -->		

		<?php
			}
			if($nrowfdc>0){
		?>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Fianza de cumplimiento</div>
					<div class="panel-body">
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Fecha de emision</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo date('m-d-Y', strtotime($array_fdc['fecha_emision'])); ?></p>
								</div>	
								<div class="form-group" id="vdirigido">
									<label>Fecha de entrega</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo date('m-d-Y', strtotime($array_fdc['fecha_entrega'])); ?></p>
								</div>						
							</div>
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Recibido:</label>
								</div>
								<div class="form-group" id="vcargo">
									<div onclick="mostrar_documento('<?php echo $array_fdc["ubicacion"]?>')" style="cursor:pointer; background-color: #e9ecf2; border-color: #e9ecf2; color: #1b3548; border-radius: 4px; width:66px; height: 66px;"><img src="pdf-icon.png" style="width:64px; height: 64px;"></div>
								</div>		
							</div>
						</div>
					</div>
				</div><!-- /.col-->
			</div><!-- /.row -->

		<?php
			}
			if($nrowODC>0){
		?>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Orden de compra</div>
					<div class="panel-body">
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Nro de orden</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_ODC['nro']; ?></p>
								</div>
								<div class="form-group" id="vdirigido">
									<label>Fecha de emision</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo date('m-d-Y', strtotime($array_ODC['fecha'])); ?></p>
								</div>	
								<div class="form-group" id="vdirigido">
									<label>Fecha de vencimiento</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo date('m-d-Y', strtotime($array_ODC['fecha_vto'])); ?></p>
								</div>						
							</div>
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Orden de compra:</label>
								</div>
								<div class="form-group" id="vcargo">
									<div onclick="mostrar_documento('<?php echo $array_ODC["ubicacion"]?>')" style="cursor:pointer; background-color: #e9ecf2; border-color: #e9ecf2; color: #1b3548; border-radius: 4px; width:66px; height: 66px;"><img src="pdf-icon.png" style="width:64px; height: 64px;"></div>
								</div>		
							</div>
						</div>
					</div>
				</div><!-- /.col-->
			</div><!-- /.row -->

		<?php
			}
			if($nrowfde>0){
		?>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Fianza de endoso</div>
					<div class="panel-body">
						<div class="col-md-6">
								<div class="form-group" id="vdirigido">
									<label>Fecha de solicitud</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo date('m-d-Y', strtotime($array_fde['fecha_solicitud'])); ?></p>
								</div>	
								<div class="form-group" id="vdirigido">
									<label>Fecha de emision</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo date('m-d-Y', strtotime($array_fde['fecha_emision'])); ?></p>
								</div>	
								<div class="form-group" id="vdirigido">
									<label>Fecha de entrega</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo date('m-d-Y', strtotime($array_fde['fecha_entrega'])); ?></p>
								</div>
								<div class="form-group" id="vdirigido">
									<label>Estado</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_fde['estado']; ?></p>
								</div>						
							</div>
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Solicitud:</label>
								</div>
								<div class="form-group" id="vcargo">
									<div onclick="mostrar_documento('<?php echo $array_fde["ubicacion_solicitud"]?>')" style="cursor:pointer; background-color: #e9ecf2; border-color: #e9ecf2; color: #1b3548; border-radius: 4px; width:66px; height: 66px;"><img src="pdf-icon.png" style="width:64px; height: 64px;"></div>
								</div>
								<div class="form-group" id="vdirigido">
									<label>Fianza de endoso:</label>
								</div>
								<div class="form-group" id="vcargo">
									<div onclick="mostrar_documento('<?php echo $array_fde["ubicacion_emision"]?>')" style="cursor:pointer; background-color: #e9ecf2; border-color: #e9ecf2; color: #1b3548; border-radius: 4px; width:66px; height: 66px;"><img src="pdf-icon.png" style="width:64px; height: 64px;"></div>
								</div>
								<div class="form-group" id="vdirigido">
									<label>Recibido:</label>
								</div>
								<div class="form-group" id="vcargo">
									<div onclick="mostrar_documento('<?php echo $array_fde["ubicacion_recibido"]?>')" style="cursor:pointer; background-color: #e9ecf2; border-color: #e9ecf2; color: #1b3548; border-radius: 4px; width:66px; height: 66px;"><img src="pdf-icon.png" style="width:64px; height: 64px;"></div>
								</div>		
							</div>
						</div>
					</div>
				</div><!-- /.col-->
			</div><!-- /.row -->

		<?php
			}
			if($array_p['nro_prorrogas']>0){
		?>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Prorrogas</div>
					<div class="panel-body">	
						<table id="tabla-prorrogas" data-select-item-name="prorroga" data-show-consultar="true"  data-sort-name="id" data-sort-order="asc">
						    <thead>
						    <tr>                          
						        <th data-field="id" data-checkbox="true" >Item ID</th>
						        <th data-field="fecha_em" data-sortable="true">Fecha Emisi&oacute;n</th>
						        <th data-field="fecha_vto" data-sortable="true">Fecha Vencimiento</th>
						        <th data-field="fecha_ent"  data-sortable="true">Fecha Entrega</th>
						        <th data-field="fecha_resp" data-sortable="true">Fecha Respuesta</th>
						        <th data-field="status"  data-sortable="true">Estado</th>
						    </tr>
						    </thead>
						</table>
							

					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->

		<?php
			}
			if($nrowent>0){
		?>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Entregas</div>
					<div class="panel-body">						

						
						<table id='tabla-entregas' id="table-style" data-show-consultar-entregas='true' data-select-item-name="entregas"  data-pagination='true'>
						    <thead>
						    <tr>
						        <th data-field="id_entrega" data-checkbox="true" >Item ID</th>
						        <th data-field="fecha_entrega" data-align="right" data-sortable="true">Fecha</th>
						        <th data-field="tipo_entrega" data-sortable="true">Tipo de entrega</th>
						    </tr>
						    </thead>
						</table>
							

					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->

		<?php
			}
			if($nrowfac>0){
		?>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Factura</div>
					<div class="panel-body">
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Fecha de emision</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo date('m-d-Y', strtotime($array_fac['fecha'])); ?></p>
								</div>						
								<div class="form-group" id="vdirigido">
									<label>Monto</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_fac['monto']; ?></p>
								</div>						
							</div>
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Factura:</label>
								</div>
								<div class="form-group" id="vcargo">
									<div onclick="mostrar_documento('<?php echo $array_fac["ubicacion"]?>')" style="cursor:pointer; background-color: #e9ecf2; border-color: #e9ecf2; color: #1b3548; border-radius: 4px; width:66px; height: 66px;"><img src="pdf-icon.png" style="width:64px; height: 64px;"></div>
								</div>		
							</div>
						</div>
					</div>
				</div><!-- /.col-->
			</div><!-- /.row -->				
		<?php
			}
			if($nrowir>0){
		?>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Informe de recepci&oacute;n</div>
					<div class="panel-body">
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Fecha de emision</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo date('m-d-Y', strtotime($array_ir['fecha'])); ?></p>
								</div>						
							</div>
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Informe de recepcion:</label>
								</div>
								<div class="form-group" id="vcargo">
									<div onclick="mostrar_documento('<?php echo $array_ir["ubicacion"]?>')" style="cursor:pointer; background-color: #e9ecf2; border-color: #e9ecf2; color: #1b3548; border-radius: 4px; width:66px; height: 66px;"><img src="pdf-icon.png" style="width:64px; height: 64px;"></div>
								</div>		
							</div>
						</div>
					</div>
				</div><!-- /.col-->
			</div><!-- /.row -->			
		<?php
			}
			if($nrowpmultas>0){
		?>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Multas</div>
					<div class="panel-body">
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Fecha de pago</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo date('m-d-Y', strtotime($array_multas['fecha'])); ?></p>
								</div>	
								<div class="form-group" id="vdirigido">
									<label>Dias de multa</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_multas['dias']; ?></p>
								</div>	
								<div class="form-group" id="vdirigido">
									<label>Porcentaje</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_multas['porcentaje'].'%'; ?></p>
								</div>
								<div class="form-group" id="vdirigido">
									<label>Monto</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_multas['monto']; ?></p>
								</div>						
						</div>	
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Comprobante de pago de multa:</label>
								</div>
								<div class="form-group" id="vcargo">
									<div onclick="mostrar_documento('<?php echo $array_multas["ubicacion"]?>')" style="cursor:pointer; background-color: #e9ecf2; border-color: #e9ecf2; color: #1b3548; border-radius: 4px; width:66px; height: 66px;"><img src="pdf-icon.png" style="width:64px; height: 64px;"></div>
								</div>		
							</div>
						</div>
					</div>
				</div><!-- /.col-->
			</div><!-- /.row -->			
		<?php
			}
			if($nrowPDC>0){
		?>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Presentacion de cuentas</div>
					<div class="panel-body">
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>fecha de presentacion</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo date('m-d-Y', strtotime($array_PDC['fechade_pdc'])); ?></p>
								</div>						
							</div>
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Comprobante:</label>
								</div>
								<div class="form-group" id="vcargo">
									<div onclick="mostrar_documento('<?php echo $array_PDC["ubicacion"]?>')" style="cursor:pointer; background-color: #e9ecf2; border-color: #e9ecf2; color: #1b3548; border-radius: 4px; width:66px; height: 66px;"><img src="pdf-icon.png" style="width:64px; height: 64px;"></div>
								</div>		
							</div>
						</div>
					</div>
				</div><!-- /.col-->
			</div><!-- /.row -->			


		<?php
			}
			if($nrowpago>0){
		?>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Pago</div>
					<div class="panel-body">
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Nro de referencia</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_pago['ref']; ?></p>
								</div>	
								<div class="form-group" id="vdirigido">
									<label>Metodo de pago</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_pago['nombre']; ?></p>
								</div>	
								<div class="form-group" id="vdirigido">
									<label>Fecha de pago</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo date('m-d-Y', strtotime($array_pago['fecha'])); ?></p>
								</div>						
							</div>
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Comprobante de pago:</label>
								</div>
								<div class="form-group" id="vcargo">
									<div onclick="mostrar_documento('<?php echo $array_pago["ubicacion"]?>')" style="cursor:pointer; background-color: #e9ecf2; border-color: #e9ecf2; color: #1b3548; border-radius: 4px; width:66px; height: 66px;"><img src="pdf-icon.png" style="width:64px; height: 64px;"></div>
								</div>		
							</div>
						</div>
					</div>
				</div><!-- /.col-->
			</div><!-- /.row -->	


		<?php
			}
		?>




	</div><!--/.main-->

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/datepicker.js"></script>
    <script src="js/datepicker.es-ES.js"></script>
    <script src="js/main.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>	
	
    <script type="text/javascript">
		function consultarregistro(){
			var id_prorroga = $("input[name='prorroga']:checked").val();
			window.open('popup.php?p=consulta-prorroga&id='+ id_prorroga +'','popup','width=1100,height=700');
		}
	</script>
	<script>
		var listado_renglones= <?php echo $listado_renglones;?>;
		$(function () {
		    $('#tabla-renglones').bootstrapTable({
		        data: listado_renglones
		    });
		});

		var listado_propuestas= <?php echo $listado_propuesta;?>;
		$(function () {
		    $('#tabla-propuestas').bootstrapTable({
		        data: listado_propuestas
		    });
		});

		var listado_prorrogas= <?php echo $listado_prorogas;?>;
		$(function () {
		    $('#tabla-prorrogas').bootstrapTable({
		        data: listado_prorrogas
		    });
		});

		var listado_entregas= <?php echo $data;?>;
		$(function () {
		    $('#tabla-entregas').bootstrapTable({
		        data: listado_entregas
		    });
		});

	    $(document).keyup(function(event){
	        if(event.which==27){
				window.close();
	        }
	    });

		
		

		function mostrar_documento(value){

			
			var direccion=value;
			window.open(''+direccion+'','popup','width=800,height=900');	

		}
	
	</script>
	<script type="text/javascript">
		function consultarentregas(){
			var id_notae = $("input[name='entregas']:checked").val();
			window.open('orden_entrega_print.php?id='+ id_notae +'','popup','width=1100,height=700');
		}
	</script>	
	<script >
		$(document).on('change', "input[type='checkbox']" , function(){
  
		  // in the handler, 'this' refers to the box clicked on
 		var $box = $(this);
		 if ($box.is(":checked")) {
		    // the name of the box is retrieved using the .attr() method
		    // as it is assumed and expected to be immutable
		    var group = "input:checkbox[name='" + $box.attr("name") + "']";
		    // the checked state of the group/box on the other hand will change
		    // and the current value is retrieved using .prop() method
		    $(group).prop("checked", false);
		    $box.prop("checked", true);
		  } else {
		    $box.prop("checked", false);
		  }
		});
	</script>