
<?php 
	include ('libs/conexion.php');
	$recibido='';
	$respuesta='';
	$id_prorroga=$_GET['id'];
	$query_p=mysqli_query($conexion, "SELECT a.dias_aprovados,  a.tipo_dia, a.fecha_emision, a.fecha_vencimiento, a.estado as id_estado, a.id_acto, a.fecha_entrega, a.fecha_respuesta, b.n_acto, c.nombre as estado FROM prorrogas a, actos b, estado_prorogas c WHERE id_prorroga='$id_prorroga' AND b.id_acto=a.id_acto AND c.id_estado=a.estado") or die (mysqli_error($conexion));
	$array_p=mysqli_fetch_array($query_p);

	$query_d=mysqli_query($conexion, "SELECT * FROM documentos_prorrogas WHERE id_prorroga='$id_prorroga'");
	while($array_d=mysqli_fetch_array($query_d)){

		if($array_d['tipo']=='recibido'){
			$recibido=$array_d['ubicacion'];			
		}

		if($array_d['tipo']=='respuesta'){
			$respuesta=$array_d['ubicacion'];
		}

	}


?>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row header-casita">
			<ol class="breadcrumb">
				<li><a href="frames.php?p=inicio"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Consulta de prorroga</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Consulta de prorroga</h1>
			</div>
		</div><!--/.row-->
					<?php include("libs/actos_prorroga.php"); ?>
	<style type="text/css">
		.slcall{
			display: none;
		}
	</style>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="col-md-6">	
							<div class="panel-heading" style="margin-bottom: 10px;">Acto</div>
								<div class="form-group" id="vdirigido">
									<label>Emitida para la licitaci&oacute;n:</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_p['n_acto']; ?></p>
								</div>
								<div class="form-group" id="vdirigido">
									<label>Estado:</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_p['estado']; ?></p>
								</div>
								<div class="form-group" id="vdirigido">
									<label>Fecha de emision</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo date('m-d-Y', strtotime($array_p['fecha_emision'])); ?></p>
								</div>
								<div class="form-group" id="vdirigido">
									<label>Fecha de vencimiento</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo date('m-d-Y', strtotime($array_p['fecha_vencimiento'])); ?></p>
								</div>	
								<div class="form-group" id="vdirigido">
									<label>Fecha de entrega</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php if($array_p['fecha_entrega']!='0000-00-00'){echo date('m-d-Y', strtotime($array_p['fecha_entrega']));}else{echo('N/A');} ?></p>
								</div>
								<div class="form-group" id="vdirigido">
									<label>Fecha de respuesta</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php if($array_p['fecha_respuesta']!='0000-00-00'){echo date('m-d-Y', strtotime($array_p['fecha_respuesta']));}else{echo('N/A');} ?></p>
								</div>	
								<div class="form-group" id="vdirigido">
									<label>Dias aprovados:</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php if($array_p['fecha_respuesta']!='0000-00-00'){
												if($array_p['dias_aprovados']>0){
														echo $array_p['dias_aprovados']." ".$array_p['tipo_dia'];}else{
													echo 'No aprovada';
												}
											}else{echo('N/A');} ?></p>
								</div>								
							</div>
						<div class="col-md-6">	
							<div class="panel-heading" style="margin-bottom: 10px;">Archivos referentes</div>
								<div class="form-group" id="vdirigido">
									<label>Prorroga:</label>
								</div>
								<div class="form-group" id="vcargo">
									<div onclick="mostrar_prorroga()" style="cursor:pointer; background-color: #e9ecf2; border-color: #e9ecf2; color: #1b3548; border-radius: 4px; width:66px; height: 66px;"><img src="pdf-icon.png" style="width:64px; height: 64px;"></div>
								</div>
								<div class="form-group" id="vrecibido1" style="display: none;">
									<label>Recibido</label>
								</div>
								<div class="form-group" id="vrecibido2" style="display: none;">
									<div onclick="mostrar_recibido()" style="cursor:pointer; background-color: #e9ecf2; border-color: #e9ecf2; color: #1b3548; border-radius: 4px; width:66px; height: 66px;"><img src="pdf-icon.png" style="width:64px; height: 64px;"></div>
								</div>
								<div class="form-group" id="vrespuesta1" style="display: none;">
									<label>Respuesta</label>
								</div>	
								<div class="form-group" id="vrespuesta2" style="display: none;">
									<div onclick="mostrar_respuesta()" style="cursor:pointer; background-color: #e9ecf2; border-color: #e9ecf2; color: #1b3548; border-radius: 4px; width:66px; height: 66px;"><img src="pdf-icon.png" style="width:64px; height: 64px;"></div>
								</div>						
							</div>
						</div>
					</div>
				</div><!-- /.col-->
			</div><!-- /.row -->
	</div><!--/.main-->

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/common.js"></script>
  <script src="js/datepicker.js"></script>
  <script src="js/datepicker.es-ES.js"></script>
  <script src="js/main.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>	
	<script>

		var estado='<?php echo $array_p["estado"];?>';
		if(estado == 'Entregada/Por respuesta'){
			document.getElementById('vrecibido1').style.display ='inherit';
			document.getElementById('vrecibido2').style.display ='inherit';
		}

		if(estado == 'Respondida'){
			document.getElementById('vrecibido1').style.display ='inherit';
			document.getElementById('vrecibido2').style.display ='inherit';
			document.getElementById('vrespuesta1').style.display ='inherit';
			document.getElementById('vrespuesta2').style.display ='inherit';
		}

		function mostrar_prorroga(){

			window.open('mostrar-prorroga.php?id=<?php echo $id_prorroga;?>','popup','width=800,height=900');

		}

		function mostrar_recibido(){
				var direccion='<?php echo $recibido;?>';
				window.open(''+direccion+'','popup','width=800,height=900');
		}

		function mostrar_respuesta(){
			var direccion='<?php echo $respuesta;?>';
				window.open(''+direccion+'','popup','width=800,height=900');	
		}
	</script>	