
<?php 
	include ('libs/conexion.php');
	
	$id_venta=$_POST['id'];
	include("libs/productos_ventasip.php"); 
	$query_p=mysqli_query($conexion, "SELECT a.fecha, a.nro_factura, a.subtotal, a.tax, a.total, a.id_inst, b.nombre, b.direccion, b.telefono FROM ventas_ip a,  instituciones b WHERE id_venta='$id_venta' AND b.id_inst=a.id_inst") or die (mysqli_error($conexion));
	$array_p=mysqli_fetch_array($query_p);

	




?>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="frames.php?p=inicio"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Consulta venta a instituciones privadas</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Consulta venta a instituciones privadas</h1>
			</div>
		</div><!--/.row-->
					<?php include("libs/actos_prorroga.php"); ?>
	<style type="text/css">
		.slcall{
			display: none;
		}
	</style>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="panel-heading" style="margin-bottom: 10px;">Datos Generales</div>
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Nro de factura</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_p['nro_factura']; ?></p>
								</div>
								<div class="form-group" id="vdirigido">
									<label>Instituci&oacute;n</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_p['nombre']; ?></p>
								</div>
								<div class="form-group" id="vdirigido">
									<label>Tel&eacute;fono</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_p['telefono']; ?></p>
								</div>
							</div>
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Fecha de facturaci&oacute;n:</label>
								</div>
								<div class="form-group" id="vcargo">									
									<p><?php echo date('m-d-Y', strtotime($array_p['fecha'])); ?></p>		
								</div>
								<div class="form-group" id="vdirigido">
									<label>Direcci&oacute;n</label>
								</div>
								<div class="form-group" id="vcargo">
									<p><?php echo $array_p['direccion']; ?></p>								
								</div>					
							</div>
						</div>
					</div>
				</div><!-- /.col-->
			</div><!-- /.row -->		<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">Productos</div>
							<div class="panel-body">
								<table id="tabla-detalle-venta" data-show-agregar='false' data-show-procesar='false' data-show-eliminar='false' data-select-item-name="id_detalles[]"  data-pagination="false" data-sort-name="id" data-search='false' data-total='true' data-sort-order="asc">
								    <thead>
								    <tr>                          
								        <th data-field="id" data-checkbox="true" >Item ID</th>
								        <th data-field="codigo"  data-sortable="true">C&oacute;digo</th>
								        <th data-field="marca" data-sortable="true">Marca</th>
								        <th data-field="descripcion" data-sortable="true">Descripci&oacute;n</th>
								        <th data-field="cantidad" data-sortable="true">Cantidad</th>
								        <th data-field="precio_unit"  data-sortable="true">Precio Unit</th>
								        <th data-field="precio_tot"  data-sortable="true">Precio Total</th>
								    </tr>
								    </thead>
								</table>
								<br>
								<div class="col-md-6">
								</div>
								<div class="col-md-6">
									<div class="form-group" id="vacto">
										<label>Sub-total</label>
										<input class="form-control" name="total" id="acto" readonly value="<?php echo $array_p['subtotal']; ?>">
									</div>
									<div class="form-group" id="vacto">
										<label>Taxes</label>
										<input class="form-control" name="total" id="acto" readonly value="<?php echo $array_p['tax']; ?>">
									</div>
									<div class="form-group" id="vacto">
										<label>Total</label>
										<input class="form-control" name="total" id="acto" readonly value="<?php echo $array_p['total']; ?>">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!--/.row-->	
	</div><!--/.main-->

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/common.js"></script>
  <script src="js/datepicker.js"></script>
  <script src="js/datepicker.es-ES.js"></script>
  <script src="js/main.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>	
	<script>
		var listado_detalle= <?php echo $listado_detalle; ?>;
		$(function () {
		    $('#tabla-detalle-venta').bootstrapTable({
		        data: listado_detalle
		    });
		});

		function mostrar_prorroga(){

			window.open('<?php echo $array_p["ubicacion_solicitud"];?>','popup','toolbars=no, directories=no,menubar=no,status=no,resiz eable=0,width=800,height=900');

		}

		function mostrar_respuesta(){

			var direccion='<?php echo $fde;?>';

			if(direccion.length>0){
				window.open(''+direccion+'','popup','toolbars=no, directories=no,menubar=no,status=no,resiz eable=0,width=800,height=900');
			}else{
				alert("El documento no ha sido emitido aun");
			}	
		}

		function mostrar_recibido(){
			var direccion='<?php echo $recibido;?>';
			if(direccion.length>0){
				window.open(''+direccion+'','popup','toolbars=no, directories=no,menubar=no,status=no,resiz eable=0,width=800,height=900');
			}else{
				alert("El documento no ha sido entregado aun.");
			}	
		}
	</script>	