<?php 
	$namepage=explode("-", $_GET['c']);
?>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="frames.php?p=inicio"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Modificaci&oacute;n de <?php echo $namepage[0];?></li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Modificaci&oacute;n de <?php echo $namepage[0];?></h1>
			</div>
		</div><!--/.row-->
				
		<?php include ($_GET['c'].".php"); ?> 