<?php 
	$id=$_POST['id_cliente'];
	$query_cliente=mysqli_query($conexion, "SELECT * FROM instituciones WHERE id_inst='$id'");
	$array_cliente=mysqli_fetch_array($query_cliente);
	switch ($array_cliente['dependencia']) {
		case 'AUTONOMO':
			$dependencia=1;
			break;
		case 'CAJA DEL SEGURO SOCIAl':
			$dependencia=2;
			break;
		case 'MINISTERIO DE SALUD':
			$dependencia=3;
			break;		
		default:
			$dependencia=4;
			break;
	}
?>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="frames.php?p=inicio"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Editar Cliente</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Editar Cliente</h1>
			</div>
		</div><!--/.row-->
				
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="col-md-6">
							<form role="form" name="reguser" action="registrar_cliente.php" method="POST">
								<div class="form-group" id="vtipo">
									<label>Tipo de institucion</label>
									<select name="tipo" class="form-control" id="tipo" onchange="activar_dependencia()">
										<option>- - -</option>
										<option value="PUBLICO" <?php if($array_cliente['tipo']=='PUBLICO'){echo 'selected';} ?>>PUBLICO</option>
										<option value="PRIVADO" <?php if($array_cliente['tipo']=='PRIVADO'){echo 'selected';} ?>>PRIVADO</option>
									</select>
									
								</div>
								<div class="form-group" id="vdepdendencia" <?php if($array_cliente['tipo']=='PRIVADO'){echo 'style="display: none"';}?>>
									<label>Dependencia</label>
									<select name="dependencia" class="form-control" id="dependencia" onchange="activar_otro()">
										<option>- - -</option>
										<option value="AUTONOMO" <?php if($dependencia==1){echo 'selected';} ?>>AUTONOMO</option>
										<option value="CAJA DEL SEGURO SOCIAL" <?php if($dependencia==2){echo 'selected';} ?>>CAJA DEL SEGURO SOCIAL</option>
										<option value="MINISTERIO DE SALUD" <?php if($dependencia==3){echo 'selected';} ?>>MINISTERIO DE SALUD</option>
										<option value="OTRO" <?php if($dependencia==4){echo 'selected';} ?>>OTRO</option>
									</select>
								</div>
								<div class="form-group" id="votro"  <?php if($dependencia!=4){echo 'style="display: none"';}?>>
									<label>Especifique</label>
									<input class="form-control" name="otro" id="otro" placeholder="Especifique" style="text-transform:uppercase" value="<?php echo $array_cliente['dependencia']; ?>">
									<input class="form-control" type="hidden" name="id" value="<?php echo $id; ?>">
								</div>							
								<div class="form-group" id="vnombre">
									<label>Nombre</label>
									<input class="form-control" name="nombre" id="nombre" placeholder="Nombre" value="<?php echo $array_cliente['nombre'];?>">
								</div>							
								<div class="form-group" id="vtelefono">
									<label>Tel&eacute;fono</label>
									<input class="form-control" name="telefono" id="telefono" placeholder="tel&eacute;fono" value="<?php echo $array_cliente['telefono']; ?>">
								</div>
								<div class="form-group" id="vdir">
									<label>Direcci&oacute;n</label>
									<textarea class="form-control" name="direccion" id="direction" placeholder="Direcci&oacute;n"><?php echo $array_cliente['direccion'];?></textarea>
								</div>
								<div class="form-group" >
								</div>
								<div class="form-group" >
									<button type="button" onclick="validar()" class="btn btn-primary">Registrar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		
	</div><!--/.main-->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
	<script>
		function activar_otro(){			
			var dependencia=document.getElementById('dependencia').value;

			if (dependencia=='OTRO') {
				document.getElementById('votro').style.display = 'block';
			}else{
				document.getElementById('votro').style.display = 'none';				
			}


		}
		function activar_dependencia(){			
			var tipo=document.getElementById('tipo').value;

			if (tipo=='PUBLICO') {
				document.getElementById('vdepdendencia').style.display = 'block';
			}else{
				document.getElementById('vdepdendencia').style.display = 'none';				
			}


		}
		function validar() {
			var nombre=document.getElementById('nombre').value;
			var tipo=document.getElementById('tipo').value;
			var dependencia=document.getElementById('dependencia').value;
			var telefono=document.getElementById('telefono').value;
			var otro=document.getElementById('otro').value;
			var direction=document.getElementById('direction').value;
			var error=0;
			document.getElementById("vtipo").className -= " has-error";
			document.getElementById("vdepdendencia").className -= " has-error";
			document.getElementById("votro").className -= " has-error";
			document.getElementById("vnombre").className -= " has-error";
			document.getElementById("vdir").className -= " has-error";
			

			if(tipo.length==0){
				alert("Debe selecciona un tipo de institucion.");
				document.getElementById("vtipo").className += " has-error";
				error++;
					
			}


			if(tipo=='PUBLICO'){
				if(dependencia.length==0){
					alert("Debe seleccionar una dependencia.");
					document.getElementById("vdepdendencia").className += " has-error";
					error++;
					
				}
				if(dependencia=='OTRO'){
					if(otro.length==0){
						alert("Debe especificar la dependencia no encontrada en el listado.");
						document.getElementById("votro").className += " has-error";
						error++;
						
					}
					
				}

			}

			if(telefono.length==0){
				alert("El campo telefono no debe ir vacio.");
				document.getElementById("vtelefono").className += " has-error";
				error++;
				
			}

			

			if(nombre.length==0){
				alert("El campo nombre no puede ir vacio.");
				document.getElementById("vnombre").className += " has-error";
				error++;
				
			}
			if(direction.length==0){
				alert("El campo direccion no puede ir vacio.");
				document.getElementById("vdir").className += " has-error";
				error++;
				
			}
			if(error==0){
				document.reguser.submit();
			}
		}
	</script>	