	<?php include("libs/actos_entrega.php"); ?>
	<style type="text/css">
		.slcall{
			display: none;
		}
	</style>
	<form id="form" name="formulario" action="" method="POST">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Licitaci&oacute;n</div>
					<div class="panel-body">
						<table id="listado-actos" data-select-item-name="id_acto"  data-pagination="true" data-sort-name="id" data-search='true' data-sort-order="asc" style="height:200px; ">
						    <thead>
						    <tr>                          
						        <th data-field="id" data-checkbox="true" >Item ID</th>
						        <th data-field="id" data-sortable="true">#</th>
						        <th data-field="nro"  data-sortable="true">Nro. licitaci&oacute;n</th>
						        <th data-field="inst"  data-sortable="true">Instituci&oacute;n</th>
						        <th data-field="status"  data-sortable="true">fecha entrega</th>
						    </tr>
						    </thead>
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">Detalles de la entrega</div>
						<div class="panel-body">
							<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Tipo de entrega</label>
								</div>
								<div class="form-group" id="vtipoentrega">
									<select class="form-control" name="tipo_entrega" id="tipoentrega" onchange="cambiar_values(this.value);">
										<option value="">- - -</option>
										<option value="Parcial">Parcial</option>
										<option value="Total">Total</option>
									</select> 
								</div>		
							</div>
						</div>
						<div class="panel-heading">Seleccione los productos a entregar</div>
						<div class="panel-body">							
							<table id='listado-entregado' data-select-item-name="id_renglon[]"  data-search='true'   data-pagination="true" data-page-size="10" data-sort-name="name" data-sort-order="asc">
							    <thead>
								    <tr>         
						        		<th data-field="id_renglon" data-checkbox="true" >Item ID</th>
								        <th data-field="descripcion"  data-sortable="true">descripci&oacute;n</th>
								        <th data-field="cantidad"  data-sortable="true">cantidad</th>  
								    </tr>
							    </thead>
							</table>
						</div>
					</div>
				</div>
			</div><!--/.row-->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="col-md-6">	
								<div class="form-group" id="vdireccion">
									<label>Direcci&oacute;n de entrega</label>
									<textarea class="form-control" name="direccion" id="direccion" placeholder="direccion de entrega"></textarea> 
								</div>							
								<div class="form-group" >	
									<button type="button" onclick="validar()" class="btn btn-primary">Continuar</button>
								</div>
							</div>
						</div>
					</div>
				</div><!-- /.col-->
			</div><!-- /.row -->
		</form>
	</div><!--/.main-->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>	
	<script>
		
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>
	<script >
		$(document).on('change', "input:checkbox[name='id_acto']" , function(){
  
		  // in the handler, 'this' refers to the box clicked on
 		var $box = $(this);
		 if ($box.is(":checked")) {
		    // the name of the box is retrieved using the .attr() method
		    // as it is assumed and expected to be immutable
		    var group = "input:checkbox[name='id_acto']";
		    // the checked state of the group/box on the other hand will change
		    // and the current value is retrieved using .prop() method
		    $(group).prop("checked", false);

		    $('.slcall').prop("checked", false);
		    $box.prop("checked", true);
		  } else {
		    $box.prop("checked", false);
		  }
		});
	</script>
	<script type="text/javascript">

		$(document).on('click', 'input:checkbox[readonly=readonly]' , function(){
			alert("tumadre");
  			return false;
		});
	</script>	
	<script type="text/javascript">
		function cambiar_values(valor){
			var tipo = valor;
			if(tipo=='Total'){
				var group = "input:checkbox[name='id_renglon[]']";
			    $(group).prop("checked", true);
				$(group).attr("readonly","readonly");
				var chkbx = document.getElementsByName("id_renglon[]");
				for (var i = 0; i < chkbx.length; i++) {
					var index = $(chkbx[i]).data("index");
					document.getElementById("cantidad"+index).name ='cantidad[]';
					document.getElementById("cantidad"+index).disabled = false;					
					$("#cantidad"+index).attr("readonly",true);
					document.getElementById("cantidad"+index).value =$("#cantidad"+index).attr("max");
					
				}				
			}else{
				var group = "input:checkbox[name='id_renglon[]']";
			    $(group).prop("checked", false);
				$(group).prop("disabled", false);		
				var chkbx = document.getElementsByName("id_renglon[]");
				for (var i = 0; i < chkbx.length; i++) {
					var index = $(chkbx[i]).data("index");
					document.getElementById("cantidad"+index).disabled = true;	
					document.getElementById("cantidad"+index).name ='';
					document.getElementById("cantidad"+index).value ='0';
					$("#cantidad"+index).attr("readonly",false);
					
				}	

			}

		}
	</script>
	<script type="text/javascript">

		$(document).on('change', 'input:checkbox[readonly=readonly]' , function(){
  			 $(this).prop("checked", true);
		});
	</script>	
				
	<script type="text/javascript">
		var tre= [];
		$(function () {
			$('#listado-entregado').bootstrapTable('destroy');
			$('#listado-entregado').bootstrapTable({
				data: tre
			});
		})	
	</script>		
	<script>		
		var tre= [];
		$(function () {
			$('#listado-entregado').bootstrapTable('destroy');
			$('#listado-entregado').bootstrapTable({
				data: tre
			});
		})		
		var listado_actos= <?php echo $listado_actos;?>;
		$(function () {
			$('#listado-actos').bootstrapTable({
				data: listado_actos
			});
		})	
			
		$(document).on('change', "input[name='id_renglon[]']" , function(){
				if($(this).is(":checked")){
					var index = $(this).data("index");
					document.getElementById("cantidad"+index).disabled = false;
					document.getElementById("cantidad"+index).name ='cantidad[]';
				}else{
					var index = $(this).data("index");
					document.getElementById("cantidad"+index).disabled =true;
					document.getElementById("cantidad"+index).name ='';
					document.getElementById("cantidad"+index).value =0;

				}

		}	);
		
		$(document).on('change', "input[name='id_acto']" , function(){
			var url = "libs/renglones-ajax.php";
			$.ajax({                        
			    type: "POST",                 
			    url: url,                     
			    data: $("#form").serialize(), 
			    success: function(value){
			    	//console.log(value);
					var tre= JSON.parse(value);
					$(function () {
						$('#listado-entregado').bootstrapTable('destroy');
						$('#listado-entregado').bootstrapTable({
							data: tre
						});
					});	
			    },
	            error: function(value){
					var tre= [];
			    	console.log(value);
					$(function () {
						$('#listado-entregado').bootstrapTable('destroy');
						$('#listado-entregado').bootstrapTable({
							data: tre
						});
					});	
			    }
			});	
		});
		function validar() {
			var tipo_entrega=document.getElementById('tipoentrega').value;			
			var direccion=document.getElementById('direccion').value;
			var error=0;

			document.getElementById("vtipoentrega").className -= " has-error";
			document.getElementById("vdireccion").className -= " has-error";


	
			if($('input[name=id_acto]').is(':checked')){

			}else{			

				alert('Debe seleccionar un acto de la lista.');
				error++;
			}

			if(tipo_entrega.length==0){
				alert('Debe seleccionar una opcion en el campo "Tipo de entrega"');
				document.getElementById("vtipoentrega").className += " has-error";
				error++;
				
			}

			if($("input[name='id_renglon[]']").is(':checked')){

			}else{			

				alert('Debe seleccionar al menos un renglon de la lista.');
				error++;
			}


			if(tipo_entrega.length==0){
				alert('Debe seleccionar una opcion en el campo "Tipo de entrega"');
				document.getElementById("vtipoentrega").className += " has-error";
				error++;
				
			}

			if(direccion.length==0){
				alert('El campo "Direccion" no puede ir vacio');
				document.getElementById("vdireccion").className += " has-error";
				error++;
				
			} 

			if(error==0){
				document.formulario.action= "reg_entrega.php";
				document.formulario.submit();
			}
		}
	

	</script>	