<?php include("libs/fde.php"); ?>
<style type="text/css">
		.slcall{
			display: none;
		}
	</style>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Fianzas de endoso</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Fianzas de endoso</h1>
			</div>
		</div><!--/.row-->
				
		<form name="form" method="POST">
			<input type="hidden" name="p" value="actualizacion-estado-fianza-de-endoso">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Fianzas de endoso</div>
					<div class="panel-body">
						<table id="tabla-fde"  data-show-refresh="true" data-show-agregar="true" data-show-consultar="true" data-show-Statusupd="true" data-select-item-name="id" data-page-size="10" data-search='true' data-pagination="true" data-sort-name="id" data-sort-order="asc">
						    <thead>
						    <tr>                          
						        <th data-field="id" data-checkbox="true" >Item ID</th>
						        <th data-field="id" data-sortable="true">#</th>
						        <th data-field="nro"  data-sortable="true">Nro. Acto</th>
						        <th data-field="inst"  data-sortable="true">Instituci&oacute;n</th>
						        <th data-field="fds"  data-sortable="true">Fecha de Solicitud</th>
						        <th data-field="fdem"  data-sortable="true">Fecha de Emision</th>
						        <th data-field="fden"  data-sortable="true">Fecha de Entrega</th>
						        <th data-field="status"  data-sortable="true">Estado</th>
						    </tr>
						    </thead>
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
		</form>
		
		
		
	</div><!--/.main-->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>	
	
	<script >
		$(document).on('change', "input[type='checkbox']" , function(){
  
		  // in the handler, 'this' refers to the box clicked on
 		var $box = $(this);
		 if ($box.is(":checked")) {
		    // the name of the box is retrieved using the .attr() method
		    // as it is assumed and expected to be immutable
		    var group = "input:checkbox[name='" + $box.attr("name") + "']";
		    // the checked state of the group/box on the other hand will change
		    // and the current value is retrieved using .prop() method
		    $(group).prop("checked", false);
		    $box.prop("checked", true);
		  } else {
		    $box.prop("checked", false);
		  }
		});
	</script>
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
	<script>
		var listado_fde= <?php echo $listado_fde;?>;
		$(function () {
		    $('#tabla-fde').bootstrapTable({
		        data: listado_fde
		    });
		});
		function registrar(){
			window.location="frames.php?p=registrar&c=fianza-de-endoso";
		}

		function consultarregistro(){
			document.form.action="frames.php?p=consulta-fianza-de-endoso";
			document.form.method="POST";
			document.form.submit();
		}
		function updateStatus(){
			document.form.action="frames.php";
			document.form.method="GET";
			document.form.submit();
		}

		function recargar(){
			location.reload();
		}
	</script>	
