	<?php include("libs/actos_fde.php"); ?>
	<style type="text/css">
		.slcall{
			display: none;
		}
	</style>	
	<form role="form" name="formulario" action="" method="POST" enctype="multipart/form-data">	
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Licitaci&oacute;n</div>
					<div class="panel-body">
						<table id="tabla-actos-fde" data-select-item-name="id_acto"  data-pagination="true" data-sort-name="id" data-search='true' data-sort-order="asc" style="height:200px; ">
						    <thead>
						    <tr>                          
						        <th data-field="id" data-checkbox="true" >Item ID</th>
						        <th data-field="id" data-sortable="true">#</th>
						        <th data-field="nro"  data-sortable="true">Nro. licitaci&oacute;n</th>
						        <th data-field="inst"  data-sortable="true">Instituci&oacute;n</th>
						    </tr>
						    </thead>
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="col-md-6">

								<div class="form-group" id="vfecha">
									<label>Fecha de solicitud</label>
									<input  type="text" class="form-control docs-date" placeholder="dd/mm/aaaa" readonly style="cursor:pointer;" name="fecha_solicitud" id="fecha">
								</div>
							
								<div class="form-group" id="vacta">
									<label>Solicitud digitalizada</label>
									<input  type="file" class="" name="solicitud" id="actad">
									<input  type="hidden" class="" name="id" value="<?php echo $_GET['id'];?>">									
									 <p class="help-block">Solo archivos PDF.</p>
								</div>
								<div class="form-group" >	
									<input class="form-control" type="hidden" name="id_status" value="1" id="status">
									<button type="button" onclick="validar()" class="btn btn-primary">Actualizar</button>
								</div>
							</div>
						</div>
					</div>
				</div><!-- /.col-->
			</div><!-- /.row -->
		</form>
		
	</div><!--/.main-->

	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/common.js"></script>
	<script src="js/datepicker.js"></script>
	<script src="js/datepicker.es-ES.js"></script>
	<script src="js/main.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>	  
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
		<script >
		$(document).on('change', "input[type='checkbox']" , function(){
  
		  // in the handler, 'this' refers to the box clicked on
 		var $box = $(this);
		 if ($box.is(":checked")) {
		    // the name of the box is retrieved using the .attr() method
		    // as it is assumed and expected to be immutable
		    var group = "input:checkbox[name='" + $box.attr("name") + "']";
		    // the checked state of the group/box on the other hand will change
		    // and the current value is retrieved using .prop() method
		    $(group).prop("checked", false);

		    $('.slcall').prop("checked", false);
		    $box.prop("checked", true);
		  } else {
		    $box.prop("checked", false);
		  }
		});
	</script>	
	<script>
		var listado_actos_fde = <?php echo $listado_actosfde; ?>;
		$(function () {
		    $('#tabla-actos-fde').bootstrapTable({
		        data: listado_actos_fde
		    });
		});
		function changeform(){
			if(document.getElementById('estado').value=='9'){
				document.getElementById('ganador').readOnly=false;
				document.getElementById('ganador').value='';	
			}
		}

		function validar() {
			var fecha=document.getElementById('fecha').value;			
			var actad=document.getElementById('actad').value;	

			var error=0;

			document.getElementById("vfecha").className -= " has-error";

				extensiones_permitidas = ".pdf";
			   if (!actad) {
					alert("Debes adjuntar la copia escaneada del acta.");
			       error++;
			   }else{
			      //recupero la extensión de este nombre de archivo
			      extension = (actad.substring(actad.lastIndexOf("."))).toLowerCase();
			      //alert (extension);
			      //compruebo si la extensión está entre las permitidas
			      permitida = false;
			       if (extensiones_permitidas == extension) {
			         permitida = true;
			     	}
			         
			      if (!permitida) {
					alert("Archivo adjunto no es pdf.");			         
			       		error++;
			       }else{

			       }
			   }

			if($('input[type=checkbox]').is(':checked')){

			}else{			

				alert('Debe seleccionar un acto de la lista.');
				error++;
			}

			if(fecha.length==0){
				alert("El campo fecha de solicitud no puede ir vacio.");
				document.getElementById("vfecha").className += " has-error";
				error++;
				
			}

			if(error==0){
				document.formulario.action= "fianza-de-endoso.php";
				document.formulario.submit();
			}
		}
	

	</script>	