		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class='panel-heading'>Registro de informe recepcion</div>
					<div class="panel-body">
						<div class="col-md-6">
							<form role="form" name="formulario" action="" method="POST" enctype="multipart/form-data">	
							<div class="form-group" id="vestado">
								<div class="form-group" id="vacta">
									<label>Fecha de emisi&oacute;n del informe de recepci&oacute;n</label>
									<input  type="text" class="form-control docs-date" placeholder="dd/mm/aaaa" readonly style="cursor:pointer;" name="fecha_acta" id="acta">
								</div>

								<div class="form-group">
									<label>Multa por mora</label>
									<div class="radio">
										<label>
											<input type="radio" name="multa" value="1" checked>No
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="multa" value="2">Si
										</label>
									</div>
								</div>

								<div class="form-group" id="vacta">
									<label>Informe de recepci&oacute;n digitalizada</label>
									<input  type="file" class="" name="acta" id="actad">
									<input  type="hidden" class="" name="id" value="<?php echo $_GET['id'];?>">									
									 <p class="help-block">Solo archivos PDF.</p>
								</div>
								<div class="form-group" >	
									<button type="button" onclick="validar()" class="btn btn-primary">Actualizar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		
	</div><!--/.main-->

	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/common.js"></script>
	<script src="js/datepicker.js"></script>
	<script src="js/datepicker.es-ES.js"></script>
	<script src="js/main.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>  
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
	<script>
		function validar() {
			var acta=document.getElementById('acta').value;
			var actad=document.getElementById('actad').value;	

			var error=0;

			document.getElementById("vacta").className -= " has-error";

				extensiones_permitidas = ".pdf";
			   if (!actad) {
					alert("Debes adjuntar la copia escaneada del acta.");
			       error++;
			   }else{
			      //recupero la extensión de este nombre de archivo
			      extension = (actad.substring(actad.lastIndexOf("."))).toLowerCase();
			      //alert (extension);
			      //compruebo si la extensión está entre las permitidas
			      permitida = false;
			       if (extensiones_permitidas == extension) {
			         permitida = true;
			     	}
			         
			      if (!permitida) {
					alert("Archivo adjunto no es pdf.");			         
			       		error++;
			       }else{

			       }
			   }



			if(acta.length==0){
				alert("El campo fecha no puede ir vacio.");
				document.getElementById("vacta").className += " has-error";
				error++;				
			}

		

			if(error==0){
				document.formulario.action= "informe-recepcion.php";
				document.formulario.submit();
			}
		}
	

	</script>	