<?php
	
	include ('libs/conexion.php');
	$mesact=date('n');
	$anio=date('Y');
	$vip=array();
	$licitaciones=array();
	$lost=array();
	$win=array();
	for ($i=1; $i <= 12; $i++) { 
		$licitaciones[$i]=0;
		$lost[$i]=0;
		$win[$i]=0;
		$vip[$i]=0;
		//query licitaciones
		$query_l=mysqli_query($conexion, "SELECT * FROM actos WHERE fecha_acto BETWEEN '".$anio."-".$i."-01' AND '".$anio."-".$i."-31'") or die (mysqli_error($conexion));
		$array_l=mysqli_fetch_array($query_l);		
		$nro_l=mysqli_num_rows($query_l);
		
		$licitaciones[$i]=$nro_l;

		while($array_l=mysqli_fetch_array($query_l)){
			if($array_l['id_status']==12 || $array_l['id_status']==13){
				$lost[$i]++;
			}else{ 
				$win[$i]++;	
			}			
		}

		//query ventas privadas
		$query_vip=mysqli_query($conexion, "SELECT * FROM ventas_ip WHERE fecha BETWEEN '".$anio."-".$i."-01' AND '".$anio."-".$i."-31'") or die (mysqli_error($conexion));
		$nro_vip=mysqli_num_rows($query_vip);
		//
		$vip[$i]=$nro_vip;
	}
	


?>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="frames.php?p=inicio"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Inicio</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Inicio</h1>
			</div>
		</div><!--/.row-->
		
		<div class="row">
			<div class="panel-heading">Resumen del mes</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-orange panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large"><?php echo $vip[$mesact];?></div>
							<div class="text-muted">Ventas privadas</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-blue panel-widget ">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked notepad"><use xlink:href="#stroked-notepad"></use></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large"><?php echo $licitaciones[$mesact];?></div>
							<div class="text-muted">Licitaciones</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-red panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large"><?php echo $lost[$mesact];?></div>
							<div class="text-muted">Perdidos</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-teal panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked checkmark"><use xlink:href="#stroked-checkmark"></use></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large"><?php echo $win[$mesact];?></div>
							<div class="text-muted">Ganados</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Graficas de participacion</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
		
	</div>	<!--/.main-->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	

	<script>var randomScalingFactor = function(){ return Math.round(Math.random()*1000)};
	
	var lineChartData = {
			labels : ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"],
			datasets : [
				{
					label: "Ventas privadas",
					fillColor : "rgba(255,181,62,0.2)",
					strokeColor : "rgba(255,181,62,1)",
					pointColor : "rgba(255,181,62,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(255,181,62,1)",
					data : [<?php echo $vip[1];?>,<?php echo $vip[2];?>,<?php echo $vip[3];?>,<?php echo $vip[4];?>,<?php echo $vip[5];?>,<?php echo $vip[6];?>,<?php echo $vip[7];?>,<?php echo $vip[8];?>,<?php echo $vip[9];?>,<?php echo $vip[10];?>,<?php echo $vip[11];?>,<?php echo $vip[12];?>]
				},
				{
					label: "Participaciones",
					fillColor : "rgba(0,0,255,0.2)",
					strokeColor : "rgba(0,0,255,1)",
					pointColor : "rgba(0,0,255,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(0,0,255,1)",
					data : [<?php echo $licitaciones[1];?>,<?php echo $licitaciones[2];?>,<?php echo $licitaciones[3];?>,<?php echo $licitaciones[4];?>,<?php echo $licitaciones[5];?>,<?php echo $licitaciones[6];?>,<?php echo $licitaciones[7];?>,<?php echo $licitaciones[8];?>,<?php echo $licitaciones[9];?>,<?php echo $licitaciones[10];?>,<?php echo $licitaciones[11];?>,<?php echo $licitaciones[12];?>]
				},
				{
					label: "Ganadas",
					fillColor : "rgba(0, 255, 0, 0.2)",
					strokeColor : "rgba(0, 255, 0, 1)",
					pointColor : "rgba(0, 255, 0, 1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(0, 255, 0, 1)",
					data : [<?php echo $win[1];?>,<?php echo $win[2];?>,<?php echo $win[3];?>,<?php echo $win[4];?>,<?php echo $win[5];?>,<?php echo $win[6];?>,<?php echo $win[7];?>,<?php echo $win[8];?>,<?php echo $win[9];?>,<?php echo $win[10];?>,<?php echo $win[11];?>,<?php echo $win[12];?>]
				},
				{
					label: "Perdidas",
					fillColor : "rgba(255, 0, 0, 0.2)",
					strokeColor : "rgba(255, 0, 0, 1)",
					pointColor : "rgba(255, 0, 0, 1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(255, 0, 0, 1)",
					data : [<?php echo $lost[1];?>,<?php echo $lost[2];?>,<?php echo $lost[3];?>,<?php echo $lost[4];?>,<?php echo $lost[5];?>,<?php echo $lost[6];?>,<?php echo $lost[7];?>,<?php echo $lost[8];?>,<?php echo $lost[9];?>,<?php echo $lost[10];?>,<?php echo $lost[11];?>,<?php echo $lost[12];?>]
				}
			]

		}





window.onload = function(){
	var chart1 = document.getElementById("line-chart").getContext("2d");
	window.myLine = new Chart(chart1).Line(lineChartData, {
		responsive: true
	});
	
};
	</script>	