<?php 
	if($privilegios["licitaciones"]!=1){
		$mensajes_error=1;
		require_once('libs/mensajes_error.php');
	}
	include("libs/actos.php"); 
?>
<style type="text/css">
		.slcall{
			display: none;
		}
	</style>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Licitaciones</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Licitaciones</h1>
			</div>
		</div><!--/.row-->
				
		<form name="form" method="POST">
			<input type="hidden" name="p" value="actualizacion-estado-acto">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Licitaciones</div>
					<div class="panel-body">
						<table id="listado-licitaciones" data-show-refresh="true" <?php if($privilegios['registrar_licitacion']==1){ ?> data-show-agregar="true" <?php }if($privilegios['entregas']==1){ ?> data-show-entregas="true" <?php }if($privilegios['prorrogas']==1){ ?> data-show-prorrogas="true"  <?php }if($privilegios['fde']==1){ ?> data-show-fde="true" <?php }if($privilegios['consultar_licitacion']==1){ ?> data-show-consultar="true"<?php }if($privilegios['actualizar_licitacion']==1){ ?>  data-show-Statusupd="true" <?php } ?> data-select-item-name="id" data-page-size="10" data-search='true' data-pagination="true" data-sort-name="fecha_acto" data-sort-order="desc">
						    <thead>
						    <tr>                          
						        <th data-field="id_acto" data-checkbox="true" >Item ID</th>
						        <th data-field="id_acto" data-sortable="true">#</th>
						        <th data-field="n_acto"  data-sortable="true">Nro. Acto</th>
						        <th data-field="tipo"  data-sortable="true">Tipo de LP</th>
						        <th data-field="fecha_publicacion"  data-sortable="true">Fecha de publicaci&oacute;n</th>
						        <th data-field="fecha_acto"  data-sortable="true">Fecha del acto</th>
						        <th data-field="instituto"  data-sortable="true">Instituci&oacute;n</th>
						        <th data-field="status"  data-sortable="true">Estado</th>
						        <th data-field="calificacion"  data-sortable="true">Calificaci&oacute;n</th>
						    </tr>
						    </thead>
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
		</form>
		
		
		
	</div><!--/.main-->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>	
	
	<script >
		$(document).on('change', "input[type='checkbox']" , function(){
  
		  // in the handler, 'this' refers to the box clicked on
 		var $box = $(this);
		 if ($box.is(":checked")) {
		    // the name of the box is retrieved using the .attr() method
		    // as it is assumed and expected to be immutable
		    var group = "input:checkbox[name='" + $box.attr("name") + "']";
		    // the checked state of the group/box on the other hand will change
		    // and the current value is retrieved using .prop() method
		    $(group).prop("checked", false);
		    $box.prop("checked", true);
		  } else {
		    $box.prop("checked", false);
		  }
		});
	</script>
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
	<script>
		var listado_licitaciones= <?php echo $listado_actos;?>;
		$(function () {
		    $('#listado-licitaciones').bootstrapTable({
		        data: listado_licitaciones
		    });
		});

		function registrar(){
			window.location="frames.php?p=registrar&c=licitacion";
		}

		function editarregistro(){
			document.form.action="frames.php?p=editar&c=licitacion";
			document.form.submit();
		}

		function consultarregistro(){
			document.form.action="frames.php?p=consulta-licitacion";
			document.form.submit();
		}
		function updateStatus(){
			document.form.action="frames.php";
			document.form.method="GET";
			document.form.submit();
		}
		function gestionar_entregas(){
			window.location="frames.php?p=entregas";
		}
		function gestionar_prorroga(){
			window.location="frames.php?p=prorrogas";
		}
		function gestionar_fde(){
			window.location="frames.php?p=fianzas-de-endoso";
		}

		function recargar(){
			location.reload();
		}
	</script>	
