
		<?php 
			$id=$_GET['id'];
			include('libs/renglones.php');
		?>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Renglones del acto</div>
					<div class="panel-body">
					<form name="form" id='formulario' method="POST">
						<table  id="tabla-renglones" data-show-agregar='true' data-show-procesar='true' data-show-eliminar="true" data-select-item-name="id[]"  data-pagination="false" data-sort-name="id" data-sort-order="asc">
						    <thead>
						    <tr>                          
						        <th data-field="id" data-checkbox="true" ># Item</th>
						        <th data-field="codigo" data-sortable="true">C&oacute;digo</th>
						        <th data-field="descripcion"  data-sortable="true">Descripci&oacute;n</th>
						        <th data-field="clasificacion"  data-sortable="true">Clasificaci&oacute;n</th>
						        <th data-field="um"  data-sortable="true">Unidad de medida</th>
						        <th data-field="cantidad"  data-sortable="true">Cantidad</th>
						    </tr>
						    </thead>
						</table>
					</form>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
		
		
	</div><!--/.main-->
<form id="anulacion">	
	<input class="form-control" type="hidden" name="id_acto" id="acto" readonly value="<?php echo $id; ?>">
</form>

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/common.js"></script>
  <script src="js/datepicker.js"></script>
  <script src="js/datepicker.es-ES.js"></script>
  <script src="js/main.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>	  
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})

		$(document).on('change', "input[type='checkbox']" , function(){
  
		  // in the handler, 'this' refers to the box clicked on
 		var $box = $(this);
		 if ($box.is(":checked")) {
		    // the name of the box is retrieved using the .attr() method
		    // as it is assumed and expected to be immutable
		    var group = "input:checkbox[name='" + $box.attr("name") + "']";
		    // the checked state of the group/box on the other hand will change
		    // and the current value is retrieved using .prop() method
		    $(group).prop("checked", false);
		    $box.prop("checked", true);
		  } else {
		    $box.prop("checked", false);
		  }
		});
	</script>

	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
	<script>
		var listado_renglones= <?php echo $listado_renglones;?>;
		$(function () {
		    $('#tabla-renglones').bootstrapTable({
		        data: listado_renglones
		    });
		});
		function registrar(){
			window.open('registro-renglones.php?id=<?php echo $id;?>','popup','toolbars=no, directories=no,menubar=no,status=no,resiz eable=0,width=700,height=612');


			return false;
		}

		function anular_registro(value){
			var href=value;
			if (confirm('Deseas salir de esta pagina? Si sales de la pagina los datos de este proceso se perderan.')) {
				var url = "anulacion_acto.php";
					        $.ajax({                        
					           type: "POST",                 
					           url: url,                     
					           data: $("#anulacion").serialize(), 
					           success: function(ret)             
					           {				

								 window.location=href;    
					           }
					       });	

			}
		}

		function eliminarregistro(){
				if(confirm("Estas seguro de eliminar el renglon seleccionado?")){	    
					    
					        var url = "del_renglon_acto.php";
					        $.ajax({                        
					           type: "POST",                 
					           url: url,                     
					           data: $("#formulario").serialize(), 
					           success: function()             
					           {				                      
								 location.reload();    
					           }
					       });				 
					
				}		
		}


		function procesarLP(){
			alert('La licitacion ha sido registrada correctamente.');
			window.location='frames.php?p=licitaciones';
		}
	</script>		