<?php 
	if($privilegios["registrar_licitacion"]!=1){
		$mensajes_error=1;
		require_once('libs/mensajes_error.php');
	}
	include("libs/actos.php");
	include("libs/inst_pub.php");
?>
		<form role="form" name="formulario" action="" method="POST">
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">Instituto</div>
						<div class="panel-body">	
									<table id="listado-inst-pub" <?php if($privilegios['registrar_cliente']==1){ ?> data-show-agregar="true" <?php } ?> data-page-size="10" data-select-item-name="id_inst"  data-search='true' data-pagination="true" data-sort-name="id" data-sort-order="asc">
									    <thead>
									    <tr>                          
									        <th data-field="id" data-checkbox="true" >Item ID</th>
									        <th data-field="nombre" data-sortable="true">Nombre</th>
									        <th data-field="direccion"  data-sortable="true">Direcci&oacute;n</th>
									        <th data-field="telefono"  data-sortable="true">Tel&eacute;fono</th>
									    </tr>
									    </thead>
									</table>
								
						</div>
					</div>
				</div><!-- /.col-->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-md-6">
								<div class="form-group" id="vacto">
									<label>Nro. Acto</label>
									<input class="form-control" name="n_acto" id="acto" placeholder="Nro. de acto">
								</div>
								<div class="form-group" id="vreq">
									<label>Nro. Requisici&oacute;n o solicitud</label>
									<input class="form-control" name="n_req" id="req" placeholder="Nro. de requisici&oacute;n o solicitud">
								</div>		
							<div class="form-group" id="vtipolp">
									<label>Tipo de licitaci&oacute;n</label>
									<select class="form-control" name="tipo_lp" id="tipolp">
										<option value="">- - -</option>
										<?php
											require_once("libs/conexion.php");
											if(isset($_POST['id_inst'])){
												$id_inst=$_POST['id_inst'];
											}else{
												$id_inst='';
											}
											$querylp=mysqli_query($conexion, "SELECT * FROM tipo_lp");
											while ($arraylp=mysqli_fetch_array($querylp)){
													echo "<option value='".$arraylp['id_tlp']."' selected>".$arraylp['Nombre']."</option>";
												

											}
										?>
									</select>
								</div>
								<div class="form-group" id="vmonto">
									<label>Monto del acto</label>
									<input class="form-control" type="number" name="monto_act" id="monto" min="0" step="0.01" placeholder="0,00">
								</div>
								<div class="form-group" id="vpago">
									<label>Termino de pago</label>
									<input class="form-control" type="number" min="1" value="1" name="tp_dias" id="pago" placeholder="Nro. de dias" style="width:80%; display: inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;<label>D&iacute;as</label>
									<div class="radio">
										<label>
											<input name="tp_tipo" id="tp_tipo1" value="Habiles" checked="" type="radio">Habiles
										</label>
									</div>
									<div class="radio">
										<label>
											<input name="tp_tipo" id="tp_tipo2" value="Calendario" type="radio">Calendario
										</label>
									</div>
								</div>
								<div class="form-group" id="vfecha">
									<label>Fecha de publicaci&oacute;n</label>
									<input  type="text" class="form-control docs-date" placeholder="dd/mm/aaaa" readonly style="cursor:pointer;" name="fecha_pub" id="fecha">
								</div>
								<div class="form-group" id="vapertura">
									<label>Fecha de acto</label>
									<input type="text" class="form-control docs-date" placeholder="dd/mm/aaaa" readonly style="cursor:pointer;"  name="fecha_acto" id="apertura">
								</div>
								
								<div class="form-group" id="vfdp">
									<label>Fianza de propuesta</label>
									<div class="radio">
										<label>
											<input name="fianza_p" id="fianza_p1" value="1" checked="" type="Radio">Si
										</label>
									</div>
									<div class="radio">
										<label>
											<input name="fianza_p" id="fianza_p2" value="0" type="Radio">No
										</label>
									</div>
								</div>
								<div class="form-group" id="vfdc">
									<label>Fianza de cumplimiento</label>
									<div class="radio">
										<label>
											<input name="fianza_c" id="fianza_c1" value="1" checked="" type="Radio">Si
										</label>
									</div>
									<div class="radio">
										<label>
											<input name="fianza_c" id="fianza_c2" value="0" type="Radio">No
										</label>
									</div>
								</div>
								<div class="form-group" >	
									<button type="button" onclick="validar()" class="btn btn-primary">Registrar</button>
								</div>
							</div>
						</div>
					</div>
				</div><!-- /.col-->
			</div><!-- /.row -->
		
		</form>
	</div><!--/.main-->

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/common.js"></script>
  <script src="js/datepicker.js"></script>
  <script src="js/datepicker.es-ES.js"></script>
  <script src="js/main.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>  
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
	<script>
		var listado_inst_pub= <?php echo $listado_inst_pub;?>;
		$(function () {
		    $('#listado-inst-pub').bootstrapTable({
		        data: listado_inst_pub
		    });
		});
		function registrar(){			
			window.open('popup.php?p=registrar&c=cliente&f=licitacion','popup','width=800,height=900');
		}


		function validar() {		
			var acto=document.getElementById('acto').value;
			var monto=document.getElementById('monto').value;			
			var pago=document.getElementById('pago').value;
			var fecha=document.getElementById('fecha').value;			
			var apertura=document.getElementById('apertura').value;	
			var error=0;

			document.getElementById("vacto").className -= " has-error";
			document.getElementById("vmonto").className -= " has-error";
			document.getElementById("vpago").className -= " has-error";
			document.getElementById("vfecha").className -= " has-error";
			document.getElementById("vapertura").className -= " has-error";

			if(!$('input[name=id_inst]').is(':checked')){

				alert('Debe seleccionar una institucion de la lista.');
				error++;
			}

		
			if(acto.length==0){
				alert('El campo "nro. de acto" no puede ir vacio');
				document.getElementById("vacto").className += " has-error";
				error++;
				
			}

			if(monto.length==0){
				alert('El campo "monto" no puede ir vacio.');
				document.getElementById("vmonto").className += " has-error";
				error++;				
			}

			if(monto<=0){
				alert('El campo "monto" debe ser mayor a 0.');
				document.getElementById("vmonto").className += " has-error";
				error++;				
			}

			if(pago.length==0){
				alert('El campo "Dias" de la seccion "termino de pago" no puede ir vacio.');
				document.getElementById("vpago").className += " has-error";
				error++;				
			}

			if(fecha.length==0){
				alert('El campo "fecha de publicacion" no puede ir vacio.');
				document.getElementById("vfecha").className += " has-error";
				error++;				
			}

			if(apertura.length==0){
				alert('El campo "fecha de apertura" del acto no puede ir vacio.');
				document.getElementById("vapertura").className += " has-error";
				error++;				
			}

			if(error==0){
				document.formulario.action= "registrar_licitacion.php";
				document.formulario.submit();
			}
		}
	

	</script>	