		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class='panel-heading'>Registro de pago de multa</div>
					<div class="panel-body">
						<div class="col-md-6">
							<form role="form" name="formulario" action="" method="POST" enctype="multipart/form-data">	
								<div class="form-group" id="vdiasm">
									<label>D&iacute;as de multa</label>
									<input  type="number" onchange="cambiar_monto()" min="0" value="0"  class="form-control"  name="dias_multa" id="diasm">
								</div>		
								<div class="form-group" id="vporcentaje">
									<label>Porcentaje</label>
									<input  type="number" onchange="cambiar_monto()" step="0.01" min="0" value="0"  class="form-control"  name="porcentaje" id="porcentaje">
								</div>	
								<div class="form-group" id="vmonto">
									<label>Monto</label>
									<input  type="number" step="0.01" min="0" value="0"  class="form-control"  name="monto" id="monto">
								</div>
								<div class="form-group" id="vpago">
									<label>Fecha de pago</label>
									<input  type="text" class="form-control docs-date" placeholder="dd/mm/aaaa" readonly style="cursor:pointer;" name="fecha_pago" id="pago">
								</div>
								<div class="form-group" id="vpagod">
									<label>Comprobante digitalizado</label>
									<input  type="file" class="" name="multa" id="pagod">
									<input  type="hidden" class="" name="id" value="<?php echo $_GET['id'];?>">									
									 <p class="help-block">Solo archivos PDF.</p>
								</div>
								<div class="form-group" >	
									<input class="form-control" type="hidden" name="id_status" value="1" id="status">
									<button type="button" onclick="validar()" class="btn btn-primary">Actualizar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		
	</div><!--/.main-->

	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/common.js"></script>
	<script src="js/datepicker.js"></script>
	<script src="js/datepicker.es-ES.js"></script>
	<script src="js/main.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>  
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
	<script>
		function validar() {
			var diasm=document.getElementById('diasm').value;
			var porcentaje=document.getElementById('porcentaje').value;
			var monto=document.getElementById('monto').value;		
			var pago=document.getElementById('pago').value;
			var pagod=document.getElementById('pagod').value;

			var error=0;

			document.getElementById("vdiasm").className -= " has-error";
			document.getElementById("vporcentaje").className -= " has-error";
			document.getElementById("vmonto").className -= " has-error";
			document.getElementById("vpago").className -= " has-error";

			extensiones_permitidas = ".pdf";
			   if (!pagod) {
					alert("Debes adjuntar la copia escaneada del acta.");
			       error++;
			   }else{
			      //recupero la extensión de este nombre de archivo
			      extension = (pagod.substring(pagod.lastIndexOf("."))).toLowerCase();
			      //alert (extension);
			      //compruebo si la extensión está entre las permitidas
			      permitida = false;
			       if (extensiones_permitidas == extension) {
			         permitida = true;
			     	}
			         
			      if (!permitida) {
					alert("Archivo adjunto no es pdf.");			         
			       		error++;
			       }else{

			       }
			   }



			if(diasm<=0){
				alert("El campo 'Dias de multa' no puede ser 0.");
				document.getElementById("vdiasm").className += " has-error";
				error++;
				
			}

			if(porcentaje<=0){
				alert("El campo 'Porcentaje' no puede ser 0.");
				document.getElementById("vporcentaje").className += " has-error";
				error++;
				
			}

			if(monto<=0){
				alert("El campo 'Monto' no puede ser 0.");
				document.getElementById("vmonto").className += " has-error";
				error++;
				
			}

			if(pago.length==0){
				alert("El campo 'Fecha de pago' no puede ir vacio.");
				document.getElementById("vpago").className += " has-error";
				error++;
				
			}


			if(error==0){
				document.formulario.action= "multa.php";
				document.formulario.submit();
			}
		}
	

	</script>	