		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class='panel-heading'>Registro de pago</div>
					<div class="panel-body">
						<div class="col-md-6">
							<form role="form" name="formulario" action="" method="POST" enctype="multipart/form-data">	
							<div class="form-group" id="vestado">
								<div class="form-group" id="vacta">
									<label>Fecha de emisi&oacute;n del pago</label>
									<input  type="text" class="form-control docs-date" placeholder="dd/mm/aaaa" readonly style="cursor:pointer;" name="fecha_acta" id="acta">
								</div>

								<div class="form-group" id="vtipo">
									<label>Tipo de pago</label>
									<select class="form-control" name="tipo" id="tipo">
										<option value="">- - -</option>
										<?php
											$query_tp=mysqli_query($conexion, "SELECT * FROM tipo_pago");
											
											while ($array_tp=mysqli_fetch_array($query_tp)) {
												echo "<option value='".$array_tp['id_tipop']."'>".$array_tp['nombre']."</option>";
											}
										?>
										
									</select>
								</div>
								<div class="form-group" id="vref">
									<label>Nro. cheque o ref</label>
									<input  type="text" class="form-control" placeholder="Nro. cheque o ref" name="ref" id="ref">
									<input  type="hidden" class="" name="id" value="<?php echo $_GET['id'];?>">
								</div>

								<div class="form-group" id="vpagod">
									<label>Pago digitalizada</label>
									<input  type="file" class="" name="pagod" id="pagod">							
									 <p class="help-block">Solo archivos PDF.</p>
								</div>

								
								<div class="form-group" >	
									<button type="button" onclick="validar()" class="btn btn-primary">Actualizar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		
	</div><!--/.main-->

	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/common.js"></script>
	<script src="js/datepicker.js"></script>
	<script src="js/datepicker.es-ES.js"></script>
	<script src="js/main.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>  
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
	<script>
		function validar() {
			var acta=document.getElementById('acta').value;
			var tipo=document.getElementById('tipo').value;	
			var ref=document.getElementById('ref').value;
			var pagod=document.getElementById('pagod').value;	

			var error=0;

			document.getElementById("vacta").className -= " has-error";
			document.getElementById("vtipo").className -= " has-error";
			document.getElementById("vref").className -= " has-error";

				extensiones_permitidas = ".pdf";
			   if (!pagod) {
					alert("Debes adjuntar la copia escaneada del acta.");
			       error++;
			   }else{
			      //recupero la extensión de este nombre de archivo
			      extension = (pagod.substring(pagod.lastIndexOf("."))).toLowerCase();
			      //alert (extension);
			      //compruebo si la extensión está entre las permitidas
			      permitida = false;
			       if (extensiones_permitidas == extension) {
			         permitida = true;
			     	}
			         
			      if (!permitida) {
					alert("Archivo adjunto no es pdf.");			         
			       		error++;
			       }else{

			       }
			   }


			if(acta.length==0){
				alert("El campo fecha no puede ir vacio.");
				document.getElementById("vacta").className += " has-error";
				error++;				
			}

			if(tipo.length==0){
				alert("El campo tipo no puede ir vacio.");
				document.getElementById("vtipo").className += " has-error";
				error++;				
			}

			if(ref.length==0){
				alert("El campo ref no puede ir vacio.");
				document.getElementById("vref").className += " has-error";
				error++;				
			}

		

			if(error==0){
				document.formulario.action= "pago.php";
				document.formulario.submit();
			}
		}
	

	</script>	