<?php include("libs/ventas_ip.php"); ?>
<style type="text/css">
    .slcall{
        display: none;
    }
</style>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active">Privilegios de usuarios</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Privilegios de usuarios</h1>
        </div>
    </div><!--/.row-->

    <form name="form" method="POST">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><input type="checkbox"> Licitaci&oacute;nes</div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Registro
                                </label>
                            </div>
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Consulta
                                </label>
                            </div>
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Actualizar estado
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Prorrogas
                                </label>
                            </div>
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Endosos
                                </label>
                            </div>
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Entregas
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><input type="checkbox"> Ventas a instituciones privadas</div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Registro
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Consulta
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><input type="checkbox"> Clientes</div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Registro
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Modificaci&oacute;n
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><input type="checkbox"> Gastos</div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Registro
                                </label>
                                <div class="form-group checkbox">
                                    <label>
                                        <input type="checkbox"> Consulta
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Actualizar
                                </label>
                            </div>
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Anular
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><input type="checkbox"> Compras</div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Registro
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Consulta
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><input type="checkbox"> Comunicaciones</div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Registro
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Consulta
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><input type="checkbox"> Reportes</div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Registro
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Consulta
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><input type="checkbox"> Usuarios</div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Registro
                                </label>
                            </div>
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Modificaci&oacute;n
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Privilegios
                                </label>
                            </div>
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Activaci&oacute;n
                                </label>
                            </div>
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox"> Desactivaci&oacute;n
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </form>



</div><!--/.main-->

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/chart.min.js"></script>
<script src="js/chart-data.js"></script>
<script src="js/easypiechart.js"></script>
<script src="js/easypiechart-data.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/bootstrap-table.js"></script>
<script>
    !function ($) {
        $(document).on("click","ul.nav li.parent > a > span.icon", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
        if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    })
</script>
<script >
    $(document).on('change', "input[type='checkbox']" , function(){

        // in the handler, 'this' refers to the box clicked on
        var $box = $(this);
        if ($box.is(":checked")) {
            // the name of the box is retrieved using the .attr() method
            // as it is assumed and expected to be immutable
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            // the checked state of the group/box on the other hand will change
            // and the current value is retrieved using .prop() method
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });
</script>
<script>


    var listado_licitaciones= <?php echo $listado_ip;?>;
    $(function () {
        $('#listado-ip').bootstrapTable({
            data: listado_licitaciones
        });
    });

    function registrar(){
        window.location="frames.php?p=registrar&c=venta-institucion-privada";
    }

    function consultarregistro(){
        document.form.action="frames.php?p=consultar-venta-a-instituciones-privadas";
        document.form.submit();
    }
</script>