<?php include("libs/actos.php"); ?>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Actos</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Actos</h1>
			</div>
		</div><!--/.row-->
				
		<form name="form" method="POST">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Actos</div>
					<div class="panel-body">
						<table data-toggle="table" data-url="tables/actos.json"  data-show-refresh="true" data-show-agregar="true" data-show-editar="true" data-show-consultar="true" data-select-item-name="id"  data-pagination="true" data-sort-name="id" data-sort-order="asc">
						    <thead>
						    <tr>                          
						        <th data-field="id" data-checkbox="true" >Item ID</th>
						        <th data-field="id" data-sortable="true">#</th>
						        <th data-field="nro"  data-sortable="true">Nro. Acto</th>
						        <th data-field="date"  data-sortable="true">Fecha</th>
						        <th data-field="inst"  data-sortable="true">Instituci&oacute;n</th>
						        <th data-field="status"  data-sortable="true">Estado</th>
						        <th data-field="po"  data-sortable="true">&iquest;Participa Obrigado?</th>
						    </tr>
						    </thead>
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
		</form>
		
		
		
	</div><!--/.main-->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
	<script>
		function registrar(){
			window.location="frames.php?p=registrar&c=acto";
		}

		function editarregistro(){
			document.form.action="frames.php?p=editar&c=acto";
			document.form.submit();
		}

		function consultarregistro(){
			document.form.action="frames.php?p=consultar&c=acto";
			document.form.submit();
		}

		function recargar(){
			location.reload();
		}
	</script>	