		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="col-md-6">
							<form role="form" name="reguser" action="registrar_producto.php" method="POST">
								<div class="form-group" id="vcodigo">
									<label>Codigo</label>
									<input class="form-control" name="codigo" id="codigo" placeholder="Codigo">
								</div>
								<div class="form-group" id="vmarca">
									<label>Marca</label>
									<input class="form-control" name="marca" id="marca" placeholder="Marca">
								</div>
								<div class="form-group" id="vdescripcion">
									<label>Descripcion</label>
									<input class="form-control" name="descripcion" id="descripcion" placeholder="Nombre o descripcion del producto">
								</div>
								<div class="form-group" id="vproveedor">
									<label>Proveedor</label>
									<input class="form-control" name="proveedor" id="proveedor" placeholder="Proveedor">
								</div>
								<div class="form-group" id="vmontoact">
									<label>Monto acto</label>
									<input class="form-control" type="number" min="0" step="0.01" name="montoact" id="montoact" placeholder="Monto del acto para el producto">
								</div>
								<div class="form-group" id="vmontoprop">
									<label>Monto propuesta</label>
									<input class="form-control" type="number" min="0" step="0.01" name="montoprop" id="montoprop" placeholder="Monto de la propuesta por el participante">
									<input type="hidden" name="idp" value="<?php echo $_GET['idp']; ?>">
								</div>
								<div class="form-group" >
								</div>
								<div class="form-group" >
									<button type="button" onclick="validar()" class="btn btn-primary">Registrar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		
	</div><!--/.main-->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
	<script>
		function validar() {

			var codigo=document.getElementById('codigo').value;	
			var marca=document.getElementById('marca').value;
			var descripcion=document.getElementById('descripcion').value;
			var proveedor=document.getElementById('proveedor').value;	
			var montoact=document.getElementById('montoact').value;
			var montoprop=document.getElementById('montoprop').value;

			var error=0;

			document.getElementById("vcodigo").className -= " has-error";
			document.getElementById("vmarca").className -= " has-error";
			document.getElementById("vdescripcion").className -= " has-error";
			document.getElementById("vproveedor").className -= " has-error";
			document.getElementById("vmontoact").className -= " has-error";
			document.getElementById("vmontoprop").className -= " has-error";

			if(codigo.length==0){
				alert("El campo codigo no puede ir vacio.");
				document.getElementById("vcodigo").className += " has-error";
				error++;				
			}

			if(marca.length==0){
				alert("El campo marca no puede ir vacio.");
				document.getElementById("vmarca").className += " has-error";
				error++;				
			}

			if(descripcion.length==0){
				alert("El campo descripcion no puede ir vacio.");
				document.getElementById("vdescripcion").className += " has-error";
				error++;				
			}

			if(proveedor.length==0){
				alert("El campo proveedor no puede ir vacio.");
				document.getElementById("vproveedor").className += " has-error";
				error++;				
			}


			if(montoact.length==0){
				alert("El campo Monto acto no puede ir vacio.");
				document.getElementById("vmontoact").className += " has-error";
				error++;				
			}

			if(montoprop.length==0){
				alert("El campo Monto propuesta no puede ir vacio.");
				document.getElementById("vmontoprop").className += " has-error";
				error++;				
			}

			if(error==0){
				document.reguser.submit();
			}
		}
	</script>	