<?php include("libs/prorrogas.php"); ?>
<style type="text/css">
	.slcall{
		display: none;
	}
</style>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Prorrogas</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Prorrogas</h1>
			</div>
		</div><!--/.row-->
				
		<form name="form">
		<input type="hidden" id='page' name="p" value="">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Prorrogas</div>
					<div class="panel-body">
						<table id='tabla-prorrogas' data-show-refresh="true" data-show-agregar="true"  data-select-item-name="id"  data-search='true'  data-show-consultar="true" data-show-Statusupd="true"  data-pagination="true" data-page-size="10" data-sort-name="name" data-sort-order="asc">
						    <thead>
						    <tr>                          
						        <th data-field="id" data-checkbox="true" >Item ID</th>
						        <th data-field="inst" data-sortable="true">Instituto</th>
						        <th data-field="odc"  data-sortable="true">Orden de compra</th>
						        <th data-field="fecha_em" data-sortable="true">Fecha Emisi&oacute;n</th>
						        <th data-field="fecha_vto" data-sortable="true">Fecha Vencimiento</th>
						        <th data-field="fecha_ent"  data-sortable="true">Fecha Entrega</th>
						        <th data-field="fecha_resp" data-sortable="true">Fecha Respuesta</th>
						        <th data-field="status"  data-sortable="true">Estado</th>
						    </tr>
						    </thead>
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
		</form>
		
		
		
	</div><!--/.main-->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
	<script>
		$(document).on('change', "input[type='checkbox']" , function(){
  
		  // in the handler, 'this' refers to the box clicked on
 		var $box = $(this);
		 if ($box.is(":checked")) {
		    // the name of the box is retrieved using the .attr() method
		    // as it is assumed and expected to be immutable
		    var group = "input:checkbox[name='" + $box.attr("name") + "']";
		    // the checked state of the group/box on the other hand will change
		    // and the current value is retrieved using .prop() method
		    $(group).prop("checked", false);
		    $box.prop("checked", true);
		  } else {
		    $box.prop("checked", false);
		  }
		});
	</script>	
	<script>
		var listado_prorrogas= <?php echo $listado_prorrogas;?>;
		$(function () {
		    $('#tabla-prorrogas').bootstrapTable({
		        data: listado_prorrogas
		    });
		});	
		function registrar(){
			window.location="frames.php?p=registrar&c=prorroga"
		}		
		function consultarregistro(){
			document.form.action="frames.php";
			$('#page').val('consulta-prorroga');
			document.form.method="GET";
			document.form.submit();
		}

		function updateStatus(){
			document.form.action="frames.php";
			$('#page').val('actualizacion-estado-prorroga');
			document.form.method="GET";
			document.form.submit();
		}

		function recargar(){
			location.reload();
		}
	</script>	