	<?php 

		$id_acto=$_POST['id_acto'];
		$cargo=$_POST['cargo'];
		$nombre=$_POST['nombre'];
		$cantidad_dias=$_POST['cantidad_dias'];
		$tipo_dias=$_POST['tipo_dias'];
		$motivo=$_POST['motivo'];

		include("libs/productos_prorroga.php"); 
	?>
	<form role="form" name="formulario" action="" method="POST">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Seleccione los productos retrasados</div>
					<div class="panel-body">

						<table data-toggle="table" data-url="tables/productos_prorroga_<?php echo $id_acto;?>.json" data-select-item-name="id_productos[]"  data-pagination="true" data-sort-name="id" data-search='true' data-sort-order="asc" style="height:200px; ">
						    <thead>
						    <tr>                          
						        <th data-field="id" data-checkbox="true" >Item ID</th>
						        <th data-field="descripcion"  data-sortable="true">Descripci&oacute;n</th>
						        <th data-field="marca"  data-sortable="true">Marca</th>
						    </tr>
						    </thead>
						</table>
							<input type="hidden" name="id_acto" value="<?php echo $id_acto;?>">
							<input type="hidden" name="cargo" value="<?php echo $cargo;?>">
							<input type="hidden" name="nombre" value="<?php echo $nombre;?>">
							<input type="hidden" name="cantidad_dias" value="<?php echo $cantidad_dias;?>">
							<input type="hidden" name="tipo_dias" value="<?php echo $tipo_dias;?>">
							<input type="hidden" name="motivo" value="<?php echo $motivo;?>">

								<div class="form-group" >	
									<button type="button" onclick="validar()" class="btn btn-primary">Continuar</button>
								</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
		</form>
	</div><!--/.main-->

	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/common.js"></script>
	<script src="js/datepicker.js"></script>
	<script src="js/datepicker.es-ES.js"></script>
	<script src="js/main.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>	
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
	<script>		
		function anular_registro(value){
			var href=value;
			if (confirm('Deseas salir de esta pagina? Si sales de la pagina los datos de este proceso se perderan.')) {
				 window.location=href; 
			}
		}
		function validar() {
			var error=0;

			if($('input[type=checkbox]').is(':checked')){

			}else{			

				alert('Debe seleccionar un acto de la lista.');
				error++;
			}

			if(error==0){
				document.formulario.action= "registrar_prorroga.php";
				document.formulario.submit();
			}
		}
	

	</script>	