	<?php include("libs/actos_prorroga.php"); ?>
	<style type="text/css">
		.slcall{
			display: none;
		}
	</style>
	<form id="form" name="formulario" action="" method="POST">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">licitaci&oacute;n</div>
					<div class="panel-body">
						<table id='listado-actos-prorroga' data-select-item-name="id_acto"  data-pagination="true" data-sort-name="id" data-search='true' data-sort-order="asc" style="height:200px; ">
						    <thead>
						    <tr>                          
						        <th data-field="id" data-checkbox="true" >Item ID</th>
						        <th data-field="id" data-sortable="true">#</th>
						        <th data-field="nro"  data-sortable="true">Nro. licitaci&oacute;n</th>
						        <th data-field="inst"  data-sortable="true">Instituci&oacute;n</th>
						        <th data-field="fecha_maxima_entrega"  data-sortable="true">fecha entrega</th>
						    </tr>
						    </thead>
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="col-md-6">	
								<div class="form-group" id="vdirigido">
									<label>Dirigido a</label>
								</div>
								<div class="form-group" id="vcargo">
									<select class="form-control" name="cargo" id="cargo">
										<option value="">CARGO</option>
										<option value="JEFE DE COMPRA">JEFE DE COMPRA</option>
										<option value="JEFE DE ADMINISTRACION">JEFE DE ADMINISTRACION</option>
										<option value="DIRECTOR">DIRECTOR</option>
									</select>
								</div>
								<div class="form-group" id="vnombre">
									<input style="margin-top:10px;" class="form-control" name="nombre" id="nombre" placeholder="Nombre">
								</div>
							<div class="form-group" id="vcantidad">
									<label>Cantidad de dias</label>
									<input class="form-control" name="cantidad_dias" id="cantidad" type="number" value="0" min="0" max="365">
								</div>
								<div class="form-group" id="vtipod">
									<label>Tipo de dias</label>
									<select class="form-control" name="tipo_dias" id="tipod">
										<option value="">- - -</option>
										<option value="CALENDARIO">CALENDARIO</option>
										<option value="HABILES">HABILES</option>
									</select>
								</div>
								<div class="form-group" id="vmotivo">
									<label>Motivo</label>
									<textarea class="form-control" name="motivo" id="motivo" placeholder="Motivo"></textarea>
								</div>		
							</div>
						</div>
					</div>
				</div><!-- /.col-->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">Seleccione los productos retrasados</div>
						<div class="panel-body">
							<table id='listado-prductos-acto' data-select-item-name="id_productos[]"  data-pagination="true" data-sort-name="id" data-search='true' data-sort-order="asc" style="height:200px; ">
							    <thead>
							    <tr>                          
							        <th data-field="id" data-checkbox="true" >Item ID</th>
							        <th data-field="descripcion"  data-sortable="true">Descripci&oacute;n</th>
							        <th data-field="marca"  data-sortable="true">Marca</th>
							    </tr>
							    </thead>
							</table>
							<div class="col-md-6">							
								<div class="form-group" >	
									<button type="button" onclick="validar()" class="btn btn-primary">Continuar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!--/.row-->	
		</form>
	</div><!--/.main-->

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/common.js"></script>
  <script src="js/datepicker.js"></script>
  <script src="js/datepicker.es-ES.js"></script>
  <script src="js/main.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>	
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>
	<script >
		$(document).on('change', "input[type='checkbox']" , function(){
  
		  // in the handler, 'this' refers to the box clicked on
 		var $box = $(this);
		 if ($box.is(":checked")) {
		    // the name of the box is retrieved using the .attr() method
		    // as it is assumed and expected to be immutable
		    var group = "input:checkbox[name='" + $box.attr("name") + "']";
		    // the checked state of the group/box on the other hand will change
		    // and the current value is retrieved using .prop() method
		    $(group).prop("checked", false);

		    $('.slcall').prop("checked", false);
		    $box.prop("checked", true);
		  } else {
		    $box.prop("checked", false);
		  }
		});
	</script>	
	<script>
		var listado_actos_prorroga= <?php echo $listado_actos_prorroga;?>;
		$(function () {
		    $('#listado-actos-prorroga').bootstrapTable({
		        data: listado_actos_prorroga
		    });
		});	
		var tre= [];
		$(function () {
			$('#listado-prductos-acto').bootstrapTable('destroy');
			$('#listado-prductos-acto').bootstrapTable({
				data: tre
			});
		})	
		$(document).on('change', "input[name='id_acto']" , function(){
			var $box2 = $(this);
			if($box2.is(":checked")){
				var url = "libs/productos_prorroga.php";
				$.ajax({                        
				    type: "POST",                 
				    url: url,                     
				    data: $("#form").serialize(), 
				    success: function(value){
				    	console.log(value);
						var tre= JSON.parse(value);
						$(function () {
							$('#listado-prductos-acto').bootstrapTable('destroy');
							$('#listado-prductos-acto').bootstrapTable({
								data: tre
							});
						});	
				    },
		            error: function(value){
						var tre= [];
				    	console.log(value);
						$(function () {
							$('#listado-prductos-acto').bootstrapTable('destroy');
							$('#listado-prductos-acto').bootstrapTable({
								data: tre
							});
						});	
				    }
				});
			}else{
				var tre= [];
				console.log(value);
				$(function () {
					$('#listado-prductos-acto').bootstrapTable('destroy');
					$('#listado-prductos-acto').bootstrapTable({
						data: tre
					});
				});
			}	
		});
		function validar() {
			var cargo=document.getElementById('cargo').value;			
			var nombre=document.getElementById('nombre').value;
			var cantidad=document.getElementById('cantidad').value;			
			var tipod=document.getElementById('tipod').value;
			var motivo=document.getElementById('motivo').value;	
			var error=0;

			document.getElementById("vcargo").className -= " has-error";
			document.getElementById("vnombre").className -= " has-error";
			document.getElementById("vcantidad").className -= " has-error";
			document.getElementById("vtipod").className -= " has-error";
			document.getElementById("vmotivo").className -= " has-error";


			if(cargo.length==0){
				alert('Debe seleccionar un cargo de la lista.');
				document.getElementById("vcargo").className += " has-error";
				error++;
				
			}

			if(!$('input[name=id_acto]').is(':checked')){
				alert('Debe seleccionar un acto de la lista.');
				error++;
			}

			if(!$("input[name='id_productos[]']").is(':checked')){
				alert('Debe seleccionar al menos un producto como producto retrasado.');
				error++;
			}

			if(nombre.length==0){
				alert('El campo "Nombre" no puede ir vacio');
				document.getElementById("vnombre").className += " has-error";
				error++;
				
			}

			if(cantidad.length==0){
				alert('El campo "Cantidad de dias" no puede ir vacio.');
				document.getElementById("vcantidad").className += " has-error";
				error++;				
			}

			if(cantidad<=0){
				alert('El campo "Cantidad de dias" debe ser mayor a 0.');
				document.getElementById("vcantidad").className += " has-error";
				error++;				
			}

			if(tipod.length==0){
				alert('Debe seleccion un opcion en el listado de "Tipo de dia".');
				document.getElementById("vtipod").className += " has-error";
				error++;				
			}

			if(motivo.length==0){
				alert('El campo "Motivo" no puede ir vacio.');
				document.getElementById("vmotivo").className += " has-error";
				error++;				
			}

			if(error==0){
				document.formulario.action= "registrar_prorroga.php";
				document.formulario.submit();
			}
		}
	

	</script>	