<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="frames.php?p=inicio"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Registro de usuario</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Registro de usuarios</h1>
			</div>
		</div><!--/.row-->
				
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="col-md-6">
							<form role="form" name="reguser" action="registrar_usuario.php" method="POST">
							
								<div class="form-group" id="vnombre">
									<label>Nombre</label>
									<input class="form-control" name="nombre" id="nombre" placeholder="Nombre">
								</div>

								<div class="form-group" id="vuser">
									<label>Usuario</label>
									<input class="form-control" name="usuario" id="usuario" placeholder="Usuario">
								</div>
																
								<div class="form-group" id="vpass1">
									<label>Contrase&ntilde;a</label>
									<input type="password" name="password1" id="password1" class="form-control">
								</div>	

								<div class="form-group" id="vpass2">
									<label>Repita Contrase&ntilde;a</label>
									<input type="password" name="password2" class="form-control" id="password2" >
								</div>	

								<div class="form-group" id="vlevel">
									<label>Nivel</label>
									<select class="form-control" name="lvl" id="level">
										<option value="">- - -</option>
										<?php
											$query_tu=mysqli_query($conexion, "SELECT * FROM tipo_usuario");
											while ($array_tu=mysqli_fetch_array($query_tu)) {
												echo "<option value='".$array_tu['id_tipo']."'>".$array_tu['nombre']."</option>";
											}
										?>
									</select>
								</div>

								<div class="form-group" >
									<button type="button" onclick="validar()" class="btn btn-primary">Registrar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		
	</div><!--/.main-->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
	<script>
		function validar() {
			var level=document.getElementById('level').value;
			var nombre=document.getElementById('nombre').value;
			var user=document.getElementById('usuario').value;
			var pass1=document.getElementById('password1').value;
			var pass2=document.getElementById('password2').value;
			var error=0;
			document.getElementById("vnombre").className -= " has-error";
			document.getElementById("vuser").className -= " has-error";
			document.getElementById("vpass1").className -= " has-error";
			document.getElementById("vpass2").className -= " has-error";
			document.getElementById("vlevel").className -= " has-error";

			if(nombre.length==0){
				alert("El campo nombre no puede ir vacio.");
				document.getElementById("vnombre").className += " has-error";
				error++;
				
			}
			if(user.length==0){
				alert("El campo usuario no puede ir vacio.");
				document.getElementById("vuser").className += " has-error";
				error++;
				
			}
			if(pass1.length==0){
				alert("El campo contrasena no puede ir vacio.");
				document.getElementById("vpass1").className += " has-error";
				error++;
				
			}
			if(pass2.length==0){
				alert("Debe reescribir la contrasena.");
				document.getElementById("vpass2").className += " has-error";
				error++;
				
			}
			if(level.length==0){
				alert("Selecciona un nivel");
				document.getElementById("vlevel").className += " has-error";
				error++;
			}

			if(pass2!=pass1){
				alert("Las contrasenas igresadas son diferentes.");
				document.getElementById("vpass1").className += " has-error";
				document.getElementById("vpass2").className += " has-error";
				error++;

			}

			if(error==0){
				document.reguser.submit();
			}
		}
	</script>	