
		<?php 
			$id=$_GET['id'];
			include('libs/renglones.php');
			include('libs/propuestas-renglon.php');
			$querytlp=mysqli_query($conexion, "SELECT * FROM actos WHERE id_acto='".$id."'") or die (mysqli_error($conexion));
			$arraytlp=mysqli_fetch_array($querytlp);
		?>
		<style type="text/css">
		.slcall{
			display: none;
		}
			</style>

			<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Registro de propuesta para el acto</div>
					<div class="panel-body">
						<table id="tabla-propuestas" data-show-agregar='true' data-select-item-name="id[]"  data-show-eliminar="true" data-show-procesar='true' data-row-style="rowStyle">
						    <thead>
						    <tr>
						        <th data-field="id" data-checkbox="true" ># Item</th>
						        <th data-field="reng" data-align="right" data-sortable="true">#Reng.</th>
						        <th data-field="descripcion"  data-sortable="true">Descripci&oacute;n del reng.</th>
						        <th data-field="codigo" data-sortable="true">C&oacute;digo del producto</th>
						        <th data-field="descripcion" data-sortable="true">Descripcio&oacute;n del producto</th>
						        <th data-field="um" data-sortable="true">Unid. Med. del producto</th>
						        <th data-field="marca" data-sortable="true">Marca del producto</th>
						        <th data-field="cantidad" data-sortable="true">Cant.</th>
						        <th data-field="pu" data-sortable="true">Precio Unit.</th>
						        <th data-field="pt" data-sortable="true">Precio Total</th>
						    </tr>
						    </thead>
						</table>
						<script>
						    $(function () {
						        $('#hover, #striped, #condensed').click(function () {
						            var classes = 'table';
						
						            if ($('#hover').prop('checked')) {
						                classes += ' table-hover';
						            }
						            if ($('#condensed').prop('checked')) {
						                classes += ' table-condensed';
						            }
						            $('#table-style').bootstrapTable('destroy')
						                .bootstrapTable({
						                    classes: classes,
						                    striped: $('#striped').prop('checked')
						                });
						        });
						    });
						
						    function rowStyle(row, index) {
						        var classes = ['active', 'success', 'info', 'warning', 'danger'];
						
						        if (index % 2 === 0 && index / 2 < classes.length) {
						            return {
						                classes: classes[index / 2]
						            };
						        }
						        return {};
						    }
						</script>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
		
		<form name="form2" id='formulario2' method="POST">
			<input type="hidden" name="id" value="<?php echo $id;?>">
		</form>
	</div><!--/.main-->

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/common.js"></script>
  <script src="js/datepicker.js"></script>
  <script src="js/datepicker.es-ES.js"></script>
  <script src="js/main.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>	 
	<script type="text/javascript">
		
		
		var listado_propuestas= <?php echo $listado_propuesta;?>;
		$(function () {
		    $('#tabla-propuestas').bootstrapTable({
		        data: listado_propuestas
		    });
		});

	</script> 

	<script >
		$(document).on('change', "input[type='checkbox']" , function(){
  
		  // in the handler, 'this' refers to the box clicked on
 		var $box = $(this);
		 if ($box.is(":checked")) {
		    // the name of the box is retrieved using the .attr() method
		    // as it is assumed and expected to be immutable
		    var group = "input:checkbox[name='" + $box.attr("name") + "']";
		    // the checked state of the group/box on the other hand will change
		    // and the current value is retrieved using .prop() method
		    $(group).prop("checked", false);

		    $('.slcall').prop("checked", false);
		    $box.prop("checked", true);
		  } else {
		    $box.prop("checked", false);
		  }
		});
	</script>
	<script>
		$(document).on('change', "input[type='checkbox']" , function(){
  
		  // in the handler, 'this' refers to the box clicked on
 		var $box = $(this);
		 if ($box.is(":checked")) {
		    // the name of the box is retrieved using the .attr() method
		    // as it is assumed and expected to be immutable
		    var group = "input:checkbox[name='" + $box.attr("name") + "']";
		    // the checked state of the group/box on the other hand will change
		    // and the current value is retrieved using .prop() method
		    $(group).prop("checked", false);
		    $('.slcall').prop("checked", false);
		    $box.prop("checked", true);
		  } else {
		    $box.prop("checked", false);
		  }
		});

		function registrar(){
			var n_prop = <?php echo $n_propuestas; ?>;
			var n_reng = <?php echo $n_renglones; ?>;
			if(n_prop==n_reng){
				alert('Error: usted ya a agregado propuestas a todos los renglones del acto. Le recomendamos verificar y si todo esta correcto procesar la propuesta.');
			}else{
				window.open('registro-propuesta.php?id=<?php echo $id;?>' ,'popup','width=700,height=612');	
			}


			return false;
		}

		function eliminarregistro(){
				if(confirm("¿Estas seguro de eliminar la propuesta para el renglon seleccionado?")){	    
					    
					        var url = "del_propuesta.php";
					        $.ajax({                        
					           type: "POST",                 
					           url: url,                     
					           data: $("#formulario").serialize(), 
					           success: function()             
					           {				                      
								 location.reload(true);    
					           }
					       });				 
					
				}		
		}


		function procesarLP(){
			var tlp = <?php echo $arraytlp["tipo_acto"]; ?>;
			var n_prop = <?php echo $n_propuestas; ?>;
			var n_reng = <?php echo $n_renglones; ?>;
			if(n_prop>0){
				if(tlp == 1){
					if(n_prop==n_reng){
						if(confirm("¿Deseas procesar la propuesta? Una vez procesada no podras modificarla.")){	    
							    
							        var url = "reg_prop_status.php";
							        $.ajax({                        
							           type: "POST",                 
							           url: url,                     
							           data: $("#formulario2").serialize(), 
							           success: function()             
							           {				     
											alert('La propuesta ha sido registrada correctamente.');
											window.location='frames.php?p=licitaciones';   
							           }
							       });				 
							
						}

					}else{
						alert('Error: El acto a participar es global y debe tener propuesta para cada uno de los renglones.');
					}
				}else{				
						if(confirm("¿Deseas procesar la propuesta? Una vez procesada no podras modificarla.")){	    
							    
							        var url = "reg_prop_status.php";
							        $.ajax({                        
							           type: "POST",                 
							           url: url,                     
							           data: $("#formulario2").serialize(), 
							           success: function()             
							           {				     
											alert('La propuesta ha sido registrada correctamente.');
											window.location='frames.php?p=licitaciones';   
							           }
							       });				 
							
						}
				}
			}else{
				alert('Error: no puedes actualizar el estado del acto sin una propuesta.');
			}
		}
	</script>		