<?php 
	$namepage=explode("-", $_GET['c']);
?>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="frames.php?p=inicio"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Registro de <?php if($namepage[0]=='fianza'){echo $namepage[0]." ".$namepage[1]." ".$namepage[2];}else{echo $namepage[0];}?></li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Registro de <?php if($namepage[0]=='fianza'){echo $namepage[0]." ".$namepage[1]." ".$namepage[2];}elseif($namepage[0]=='venta'){echo $namepage[0]." a ".$namepage[1]." ".$namepage[2];}else{echo $namepage[0];}?></h1>
			</div>
		</div><!--/.row-->
				
		<?php include ($_GET['c'].".html"); ?> 