		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="col-md-6">
							<form role="form" name="formulario" action="" method="POST" enctype="multipart/form-data">	
								<div class="form-group" id="vfecha">
									<label>Fecha de respuesta</label>
									<input  type="text" class="form-control docs-date" placeholder="dd/mm/aaaa" readonly style="cursor:pointer;" name="fecha_respuesta" id="fecha">
								</div>	
								<div class="form-group" id="vaproved" >
									<label>&iquest;Fue aprovada?</label>
									<select class="form-control" name="aprovada" id="aprv" onchange="changeform()">
										<option value="">- - -</option>
										<option value="1">SI</option>
										<option value="0">NO</option>
									</select>
								</div>
								<div class="form-group" id="vcantidad">
									<label>Cantidad de dias</label>
									<input class="form-control" name="cantidad_dias" id="cantidad" type="number" value="0" min="0" max="365" disabled="true">
								</div>
								<div class="form-group" id="vtipod">
									<label>Tipo de dias</label>
									<select class="form-control" name="tipo_dias" id="tipod"  disabled="true">
										<option value="">- - -</option>
										<option value="CALENDARIO">CALENDARIO</option>
										<option value="HABILES">HABILES</option>
									</select>
								</div>
					
								<div class="form-group" id="vacta">
									<label>Respuesta digitalizada</label>
									<input  type="file" class="" name="recibido" id="actad">
									<input  type="hidden" class="" name="id" value="<?php echo $_GET['id'];?>">									
									 <p class="help-block">Solo archivos PDF.</p>
								</div>
								<div class="form-group" >	
									<input class="form-control" type="hidden" name="id_status" value="1" id="status">
									<button type="button" onclick="validar()" class="btn btn-primary">Actualizar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		
	</div><!--/.main-->

	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/common.js"></script>
	<script src="js/datepicker.js"></script>
	<script src="js/datepicker.es-ES.js"></script>
	<script src="js/main.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>  
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
	<script>
		function changeform(){
			if(document.getElementById('aprv').value=='1'){
				document.getElementById('cantidad').disabled=false;
				document.getElementById('tipod').disabled=false;	
			}
		}

		function validar() {
			var fecha=document.getElementById('fecha').value;			
			var actad=document.getElementById('actad').value;		

			var error=0;

			document.getElementById("vfecha").className -= " has-error";
			document.getElementById("vacta").className -= " has-error";

				extensiones_permitidas = ".pdf";
			   if (!actad) {
					alert("Debes adjuntar la copia escaneada del acta.");
			       error++;
			   }else{
			      //recupero la extensión de este nombre de archivo
			      extension = (actad.substring(actad.lastIndexOf("."))).toLowerCase();
			      //alert (extension);
			      //compruebo si la extensión está entre las permitidas
			      permitida = false;
			       if (extensiones_permitidas == extension) {
			         permitida = true;
			     	}
			         
			      if (!permitida) {
					alert("Archivo adjunto no es pdf.");			         
			       		error++;
			       }else{

			       }
			   }



			if(fecha.length==0){
				alert("El campo institucion no puede ir vacio.");
				document.getElementById("vfecha").className += " has-error";
				error++;
				
			}



			if(error==0){
				document.formulario.action= "respuesta-prorroga.php";
				document.formulario.submit();
			}
		}
	

	</script>	