<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<ul class="nav menu">			
				<li>
					<a class="puntero" <?php if(in_array("2", $namepage)){ echo 'onclick="anular_registro(\'frames.php?p=inicio\')"';}else{echo 'href="frames.php?p=inicio';} ?>">
						<svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Inicio
					</a>
				</li>

			<?php if($privilegios["licitaciones"]=='1'){?>
			
				<li>
					<a class="puntero" <?php if(in_array("2", $namepage)){ echo 'onclick="anular_registro(\'frames.php?p=licitaciones\')"';}else{echo 'href="frames.php?p=licitaciones"';} ?>>
						<svg class="glyph stroked chevron right"><use xlink:href="#stroked-chevron-right"/></svg> Licitaciones Publicas
					</a>
				</li>


			<?php }if($privilegios["ventas_ip"]=='1'){?>

				<li>
					<a class="puntero" <?php if(in_array("2", $namepage)){ echo 'onclick="anular_registro(\'frames.php?p=ventas-a-inst-privadas\')"';}else{echo 'href="frames.php?p=ventas-a-inst-privadas"';} ?>">
						<svg class="glyph stroked chevron right"><use xlink:href="#stroked-chevron-right"/></svg> Venta a instituciones privadas
					</a>
				</li>

			<?php }if($privilegios["clientes"]=='1'){?>

				<li>
					<a class="puntero" <?php if(in_array("2", $namepage)){ echo 'onclick="anular_registro(\'frames.php?p=clientes\')"';}else{echo 'href="frames.php?p=clientes"';} ?>>
						<svg class="glyph stroked chevron right"><use xlink:href="#stroked-chevron-right"></use></svg> Clientes
					</a>
				</li>

			<?php }if($privilegios["gastos"]=='1'){?>

				<li>
					<a class="puntero" <?php if(in_array("2", $namepage)){ echo 'onclick="anular_registro(\'frames.php?p=gastos\')"';}else{echo 'href="frames.php?p=gastos"';} ?>>
						<svg class="glyph stroked chevron right"><use xlink:href="#stroked-chevron-right"></use></svg> Gastos
					</a>
				</li>

			<?php }if($privilegios["compras"]=='1'){?>

				<li>
					<a class="puntero" <?php if(in_array("2", $namepage)){ echo 'onclick="anular_registro(\'frames.php?p=compras\')"';}else{echo 'href="frames.php?p=compras"';} ?>>
						<svg class="glyph stroked chevron right"><use xlink:href="#stroked-chevron-right"></use></svg> Compras
					</a>
				</li>


			<?php }if($privilegios["comunicaciones"]=='1'){?>

				<li>
					<a class="puntero" <?php if(in_array("2", $namepage)){ echo 'onclick="anular_registro(\'frames.php?p=comunicaciones\')"';}else{echo 'href="frames.php?p=comunicaciones"';} ?>>
						<svg class="glyph stroked chevron right"><use xlink:href="#stroked-chevron-right"></use></svg> Comunicaciones
					</a>
				</li>

			<?php }if($privilegios["reportes"]=='1'){?>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1" class="" aria-expanded="true">
				<svg class="glyph stroked chevron right"><use xlink:href="#stroked-chevron-right"></use></svg>  Reportes<span data-toggle="collapse" href="#sub-item-1" class="icon pull-right" aria-expanded="true"></span>
			</a>
				<ul class="children collapse" id="sub-item-1" aria-expanded="true" style="">
					<li><a class="puntero" <?php if(in_array("2", $namepage)){ echo 'onclick="anular_registro(\'frames.php?p=reporte-estados-licitaciones\')"';}else{echo 'href="frames.php?p=reporte-estados-licitaciones"';} ?>>
						Reporte de licitaciones
						</a></li>
					<li><a class="puntero" <?php if(in_array("2", $namepage)){ echo 'onclick="anular_registro(\'frames.php?p=reporte-estados-licitaciones\')"';}else{echo 'href="frames.php?p=reporte-estados-licitaciones"';} ?>>
					Reporte de gastos
					</a></li>
					<li><a class="puntero" <?php if(in_array("2", $namepage)){ echo 'onclick="anular_registro(\'frames.php?p=reporte-estados-licitaciones\')"';}else{echo 'href="frames.php?p=reporte-estados-licitaciones"';} ?>>
					Reporte de ingresos
					</a></li>
					<li><a class="puntero" <?php if(in_array("2", $namepage)){ echo 'onclick="anular_registro(\'frames.php?p=reporte-estados-licitaciones\')"';}else{echo 'href="frames.php?p=reporte-estados-licitaciones"';} ?>>
					Reporte de compras
					</a></li>
					<li><a class="puntero" <?php if(in_array("2", $namepage)){ echo 'onclick="anular_registro(\'frames.php?p=reporte-estados-licitaciones\')"';}else{echo 'href="frames.php?p=reporte-estados-licitaciones"';} ?>>
					Reporte de Ventas
					</a></li>
				</ul>
			</li>

			<?php }if($privilegios["usuarios"]=='1'){?>

				<li>
					<a class="puntero" <?php if(in_array("2", $namepage)){ echo 'onclick="anular_registro(\'frames.php?p=usuarios\')"';}else{echo 'href="frames.php?p=usuarios"';} ?>>
						<svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>Usuarios
					</a>
				</li>

			<?php }?>
			<li role="presentation" class="divider"></li>
		</ul>
	</div><!--/.sidebar-->