<?php
	if($privilegios["usuarios"]!=1){
		$mensajes_error=1;
		require_once('libs/mensajes_error.php');
	}
	include("libs/usuarios.php");
?>
<style type="text/css">
	.slcall{
		display: none;
	}
</style>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Usuarios</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Usuarios</h1>
			</div>
		</div><!--/.row-->
				
		<form name="form">
		<input type="hidden" name="p" value="actualizacion-estado-prorroga">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Usuarios</div>
					<div class="panel-body">
						<table id='listado-usuarios' data-show-refresh="true"  <?php if($privilegios['registrar_usuario']==1){ ?> data-show-agregar="true"  <?php }if($privilegios['actualizar_usuario']==1){ ?> data-show-editar="true" <?php }if($privilegios['activar_usuario']==1){ ?> data-show-activar="true" <?php }if($privilegios['desactivar_usuario']==1){ ?> data-show-desactivar="true" <?php }if($privilegios['modificar_priv']==1){ ?> data-show-privilegios="true"  <?php } ?> data-select-item-name="id"  data-search='true'  data-pagination="true" data-page-size="10" data-sort-name="name" data-sort-order="asc">
						    <thead>
						    <tr>                          
						        <th data-field="id_usuario" data-checkbox="true" >Item ID</th>
						        <th data-field="nombre" data-sortable="true">Nombres</th>
						        <th data-field="usuario"  data-sortable="true">Usuarios</th>
						        <th data-field="tipo"  data-sortable="true">Tipo de usuario</th>
						        <th data-field="estado"  data-sortable="true">Estado</th>
						    </tr>
						    </thead>
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
		</form>
		
		
		
	</div><!--/.main-->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
	<script>
		var listado_usuarios= <?php echo $listado_usuarios;?>;
		$(function () {
		    $('#listado-usuarios').bootstrapTable({
		        data: listado_usuarios
		    });
		});
		$(document).on('change', "input[type='checkbox']" , function(){
  
		  // in the handler, 'this' refers to the box clicked on
 		var $box = $(this);
		 if ($box.is(":checked")) {
		    // the name of the box is retrieved using the .attr() method
		    // as it is assumed and expected to be immutable
		    var group = "input:checkbox[name='" + $box.attr("name") + "']";
		    // the checked state of the group/box on the other hand will change
		    // and the current value is retrieved using .prop() method
		    $(group).prop("checked", false);
		    $box.prop("checked", true);
		  } else {
		    $box.prop("checked", false);
		  }
		});
	</script>	
	<script>
		function registrar(){
			window.location="frames.php?p=registro-usuario"
		}		
		function editarregistro(){
			document.form.action="frames.php?p=editar-usuario";
			document.form.method="POST";
			document.form.submit();
		}	
		function modificar_privilegios(){
			document.form.action="frames.php?p=privilegios-usuario";
			document.form.method="POST";
			document.form.submit();
		}
		function activar_usuario(){
			document.form.action="frames.php?p=activar-usuario";
			document.form.method="POST";
			document.form.submit();
		}
		function desactivar_usuario(){
			document.form.action="frames.php?p=desactivar-usuario";
			document.form.method="POST";
			document.form.submit();
		}

		function recargar(){
			location.reload();
		}
	</script>	