<?php
	if($privilegios["ventas_ip"]!=1){
		$mensajes_error=1;
		require_once('libs/mensajes_error.php');
	}
	include("libs/ventas_ip.php"); ?>
<style type="text/css">
		.slcall{
			display: none;
		}
	</style>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Ventas a instituciones privadas</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Ventas a instituciones privadas</h1>
			</div>
		</div><!--/.row-->
				
		<form name="form" method="POST">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Ventas a instituciones privadas</div>
					<div class="panel-body">
						<table id='listado-ip' data-show-search='true' data-show-refresh="true" <?php if($privilegios['registrar_ventas_ip']==1){ ?> data-show-agregar="true" <?php } ?> data-show-consultar="true" data-select-item-name="id" data-pagination="true"  data-page-size="10" data-sort-name="name" data-sort-order="asc">
						    <thead>
						    <tr>                          
						        <th data-field="id" data-checkbox="true" >Item ID</th>
						        <th data-field="nro" data-sortable="true">#</th>
						        <th data-field="institucion"  data-sortable="true">Instituci&oacute;n</th>
						        <th data-field="fecha"  data-sortable="true">Fecha</th>
						        <th data-field="monto"  data-sortable="true">Monto</th>
						    </tr>
						    </thead>
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
		</form>
		
		
		
	</div><!--/.main-->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>
	<script >
		$(document).on('change', "input[type='checkbox']" , function(){
  
		  // in the handler, 'this' refers to the box clicked on
 		var $box = $(this);
		 if ($box.is(":checked")) {
		    // the name of the box is retrieved using the .attr() method
		    // as it is assumed and expected to be immutable
		    var group = "input:checkbox[name='" + $box.attr("name") + "']";
		    // the checked state of the group/box on the other hand will change
		    // and the current value is retrieved using .prop() method
		    $(group).prop("checked", false);
		    $box.prop("checked", true);
		  } else {
		    $box.prop("checked", false);
		  }
		});
	</script>	
	<script>


		var listado_licitaciones= <?php echo $listado_ip;?>;
		$(function () {
		    $('#listado-ip').bootstrapTable({
		        data: listado_licitaciones
		    });
		});

		function registrar(){
			window.location="frames.php?p=registrar&c=venta-institucion-privada"
		}

		function consultarregistro(){
			document.form.action="frames.php?p=consultar-venta-a-instituciones-privadas";
			document.form.submit();
		}
	</script>	