	<?php 
		include("libs/inst_priv.php");  
	?>
	<style type="text/css">
		.slcall{
			display: none;
		}
	</style>
	<form role="form" name="formulario" action="" method="POST">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Instituci&oacute;n</div>
					<div class="panel-body">
						<table id='tabla-inst-priv' data-select-item-name="id_inst"  data-pagination="true" data-sort-name="id" data-search='true' data-total='true' data-sort-order="asc" style="height:200px; ">
						    <thead>
						    <tr>                          
						        <th data-field="id" data-checkbox="true" >Item ID</th>
						        <th data-field="nombre" data-sortable="true">Nombre</th>
						        <th data-field="direccion"  data-sortable="true">Direcci&oacute;n</th>
						        <th data-field="telefono"  data-sortable="true">Tel&eacute;fono</th>
						    </tr>
						    </thead>
						</table>
						<div class="col-md-6">							
							<div class="form-group">
								<div class="form-group" id="vdiasc">
									<label>Nro. factura</label>
									<input class="form-control" name="nro_factura" type="text" id="nrofact" value="0">
								</div>
							</div>	
							<div class="form-group" id="vfechadf">
								<label>Fecha. factura</label>
								<input  type="text" class="form-control docs-date" placeholder="dd/mm/aaaa" readonly style="cursor:pointer;" name="fecha_factura" id="fechaf">
							</div>								
							<div class="form-group" id="vtipoFactura">
									<label>Instituto</label>
									<select class="form-control" name="tipoFactura" id="tipoFactura">
										<option value='Contado' selected>Contado</option>
										<option value='Credito' >Credito</option>
										
									</select>
								</div>
							<div class="form-group" id="vdiasc">
								<label>Dias de credito</label>
								<input class="form-control" name="dias_c" type="number" id="diasc" value="0">
							</div>
							<div class="form-group" >	
								<button type="button" onclick="validar()" class="btn btn-primary">Procesar</button>
							</div>
						</div>
						<div class="col-md-6">
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
		
		
		</form>
	</div><!--/.main-->

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/common.js"></script>
  <script src="js/datepicker.js"></script>
  <script src="js/datepicker.es-ES.js"></script>
  <script src="js/main.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>	
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>
	<script >
		$(document).on('change', "input[type='checkbox']" , function(){
  
		  // in the handler, 'this' refers to the box clicked on
 		var $box = $(this);
		 if ($box.is(":checked")) {
		    // the name of the box is retrieved using the .attr() method
		    // as it is assumed and expected to be immutable
		    var group = "input:checkbox[name='" + $box.attr("name") + "']";
		    // the checked state of the group/box on the other hand will change
		    // and the current value is retrieved using .prop() method
		    $(group).prop("checked", false);

		    $('.slcall').prop("checked", false);
		    $box.prop("checked", true);
		  } else {
		    $box.prop("checked", false);
		  }
		});
	</script>	
	<script>
		var listado_licitaciones= <?php echo $listado_inst_priv;?>;
		$(function () {
		    $('#tabla-inst-priv').bootstrapTable({
		        data: listado_licitaciones
		    });
		});

		function validar() {
			var nrofact=document.getElementById('nrofact').value;			
			var fechaf=document.getElementById('fechaf').value;
			var diasc=document.getElementById('diasc').value;
			var tipoFactura=document.getElementById('tipoFactura').value;		
			var error=0;

			document.getElementById("vdiasc").className -= " has-error";
			document.getElementById("vfechadf").className -= " has-error";
			document.getElementById("vdiasc").className -= " has-error";



			if($('input[type=checkbox]').is(':checked')){

			}else{			

				alert('Debe seleccionar una institucion de la lista.');
				error++;
			}

			if(nrofact.length==0){
				alert('El campo "Nro. de factura" no puede ir vacio');
				document.getElementById("vnombre").className += " has-error";
				error++;
				
			}

			if(diasc.length==0){
				alert('El campo "Dias de credito" no puede ir vacio.');
				document.getElementById("vcantidad").className += " has-error";
				error++;				
			}

			if (tipoFactura=='Credito') {
				if(diasc<=0){
					alert('El campo "Cantidad de dias" debe ser mayor a 0.');
					document.getElementById("vcantidad").className += " has-error";
					error++;				
				}
			}

			if(fechaf.length==0){
				alert('El campo "fecha de factura" no debe ir vacio .');
				document.getElementById("vtipod").className += " has-error";
				error++;				
			}

		

			if(error==0){
				document.formulario.action= "registro_venta_ip.php";
				document.formulario.submit();
			}
		}
	

	</script>	