	<?php 
		$id_venta=$_GET['id'];
		include("libs/productos_ventasip.php"); 
	?>
	<style type="text/css">
		.slcall{
			display: none;
		}
	</style>
	<form role="form" name="formulario" id="formulario" action="" method="POST">
		<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">Productos</div>
							<div class="panel-body">
								<table id="listado-detalle-ip" data-show-agregar='true' data-show-procesar='true' data-show-eliminar='true' data-select-item-name="id_detalles[]"  data-pagination="true" data-sort-name="id" data-search='true' data-total='true' data-sort-order="asc" data-page-size="10">
								    <thead>
								    <tr>                          
								        <th data-field="id" data-checkbox="true" >Item ID</th>
								        <th data-field="codigo"  data-sortable="true">C&oacute;digo</th>
								        <th data-field="marca" data-sortable="true">Marca</th>
								        <th data-field="descripcion" data-sortable="true">Descripci&oacute;n</th>
								        <th data-field="cantidad" data-sortable="true">Cantidad</th>
								        <th data-field="precio_unit"  data-sortable="true">Precio Unit</th>
								        <th data-field="precio_tot"  data-sortable="true">Precio Total</th>
								    </tr>
								    </thead>
								</table>
								<br>
								<div class="col-md-6">
								</div>
								<div class="col-md-6">
									<div class="form-group" id="vacto">
										<label>Total</label>
										<input class="form-control" name="total" id="acto" readonly value="<?php echo $tot_gral; ?>">
										<input class="form-control" type="hidden" name="id_venta" id="acto" readonly value="<?php echo $id_venta; ?>">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!--/.row-->				
		
		</form>
	</div><!--/.main-->

<form id="anulacion">	
	<input class="form-control" type="hidden" name="id_venta" id="acto" readonly value="<?php echo $id_venta; ?>">
</form>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/common.js"></script>
  <script src="js/datepicker.js"></script>
  <script src="js/datepicker.es-ES.js"></script>
  <script src="js/main.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>	
	<script >
		$(document).on('change', "input[type='checkbox']" , function(){
  
		  // in the handler, 'this' refers to the box clicked on
 		var $box = $(this);
		 if ($box.is(":checked")) {
		    // the name of the box is retrieved using the .attr() method
		    // as it is assumed and expected to be immutable
		    var group = "input:checkbox[name='" + $box.attr("name") + "']";
		    // the checked state of the group/box on the other hand will change
		    // and the current value is retrieved using .prop() method
		    $(group).prop("checked", false);

		    $('.slcall').prop("checked", false);
		    $box.prop("checked", true);
		  } else {
		    $box.prop("checked", false);
		  }
		});
	</script>	
	<script>

		var listado_licitaciones= <?php echo $listado_detalle;?>;
		$(function () {
		    $('#listado-detalle-ip').bootstrapTable({
		        data: listado_licitaciones
		    });
		});

		
		function anular_registro(value){
			var href=value;
			if (confirm('Deseas salir de esta pagina? Si sales de la pagina los datos de este proceso se perderan.')) {
				var url = "anular_venta.php";
					        $.ajax({                        
					           type: "POST",                 
					           url: url,                     
					           data: $("#anulacion").serialize(), 
					           success: function(ret)             
					           {				

								 window.location=href;    
					           }
					       });	

			}
		}
		function registrar(){
			window.open('registro-detalle-venta.php?id=<?php echo $id_venta;?>','popup','width=700,height=612');


			return false;
		}

		function eliminarregistro(){
				if(confirm("Estas seguro de eliminar el renglon seleccionado?")){	    
					    
					        var url = "del_detalle_venta.php";
					        $.ajax({                        
					           type: "POST",                 
					           url: url,                     
					           data: $("#formulario").serialize(), 
					           success: function()             
					           {				                      
								 location.reload();    
					           }
					       });				 
					
				}		
		}


		function procesarLP(){
			var nrow = <?php echo $resultlist; ?>;
			if(nrow > 0){ 
				var url = "procesar_venta.php";
				    $.ajax({                        
				       type: "POST",                 
				       url: url,                     
				       data: $("#formulario").serialize(), 
				       success: function()             
				       {
						alert('Venta registrada correctamente.');
						window.location='frames.php?p=ventas-a-inst-privadas';  
				       }
				   });

			}else{				
				alert('No puede procesar una venta sin productos.');
			}
		}
	

	</script>	